article .main {
  margin-top: 22px;
}
article .main .restaurants {
  background-color: #fff;
  color: #858585;
  border-collapse: collapse;
  border: 1px solid #d8d8d8;
  width: 100%;
}
article .main .restaurants td {
  border: 1px solid #d8d8d8;
  padding: 20px 0px 17px 24px;
  *zoom: 1;
}
article .main .restaurants td:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .restaurants td .img {
  float: left;
  display: block;
}
article .main .restaurants td .img img {
  width: 188px;
  height: 122px;
  vertical-align: middle;
}
article .main .restaurants td .detail {
  float: left;
  font-size: 14px;
  margin-left: 20px;
}
article .main .restaurants td .detail a {
  color: #858585;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}
article .main .restaurants td .detail .address {
  margin: 6px 0 0;
}
article .main .restaurants td .detail .price {
  margin-top: 22px;
}
article .main .restaurants td .detail .price strong {
  font-weight: normal;
  font-size: 24px;
  color: #f6665d;
}
article .main .restaurants td .detail .price .normal {
  margin-left: 30px;
  text-decoration: line-through;
}
article .main .restaurants td .btn-choose-this {
  float: left;
  display: block;
  background: url("../img/circle-btn-bg.png") 0 0 no-repeat;
  width: 59px;
  height: 59px;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 59px;
  text-align: center;
  margin-left: 40px;
  margin-top: 32px;
}
