body {
  background-color: #f0f0f0;
  font-family: arial, Tahoma, Geneva, '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', arial, verdana, helvetica, sans-serif;
}
body ul {
  list-style: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
header {
  background-color: #fcfcfc;
  min-width: 1200px;
}
header nav {
  width: 1200px;
  margin: 0 auto;
  padding: 13px 0;
  font-size: 18px;
}
header nav a {
  text-decoration: none;
  color: #858585;
}
header nav .location {
  font-weight: bold;
  float: left;
  width: 60px;
}
header nav .location .down {
  background: url("../img/down-arrow.png") 0 0 no-repeat;
  width: 21px;
  height: 15px;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}
header nav .location .up {
  background: url("../img/up-arrow.png") 0 0 no-repeat;
  width: 21px;
  height: 15px;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}
header nav .mobile-app {
  font-weight: bold;
  float: left;
  margin-left: 58px;
}
header nav .mobile-app a {
  background: url("../img/phone.png") 0 0 no-repeat;
  -webkit-background-size: 16px 23px;
  background-size: 16px 23px;
  padding-left: 24px;
  line-height: 23px;
  height: 23px;
  display: inline-block;
}
header nav menu {
  float: right;
  margin: 0;
}
header nav menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav menu ul li {
  float: left;
  padding: 0 29px;
  border-right: 1px solid #c9c9c9;
}
header nav menu ul li.last {
  padding-right: 0;
  border-right: none;
}
header .banner {
  height: 208px;
  width: 100%;
  background: url("../img/banner.png") 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/banner.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/banner.png', sizingMethod='scale')";
}
header .banner .logo-box {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
header .banner .logo-box .logo {
  background: url("../img/logo.png") 0 0 no-repeat;
  width: 223px;
  height: 119px;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
}
article {
  width: 1200px;
  margin: 0 auto;
}
article .header {
  background-color: #f6665d;
  margin-top: 22px;
}
article .header nav {
  float: left;
}
article .header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
article .header nav ul li {
  float: left;
}
article .header nav ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: block;
  padding: 22px 46px;
}
article .header nav ul li.active {
  background-color: #da5850;
  height: 100%;
  height: 75px\9;
}
article .header .message-box {
  float: right;
  margin: 5px 0;
  border-left: 1px solid #f88f89;
}
article .header .message-box .message {
  background: url("../img/message.png") 0 50% no-repeat;
  -webkit-background-size: 32px 24px;
  background-size: 32px 24px;
  display: block;
  width: 32px;
  height: 24px;
  margin: 22px 48px 18px 30px;
  position: relative;
}
article .header .message-box .message .unread {
  background: url("../img/unread.png") 0 0 no-repeat;
  width: 18px;
  height: 18px;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
}
article .header .message-box .message .down,
article .header .message-box .message .up {
  border: 6px solid transparent;
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 42px;
  top: 8px;
}
article .header .message-box .message .down {
  border-top: 9px solid #fff;
  border-bottom-width: 0px;
}
article .header .message-box .message .up {
  border-bottom: 9px solid #fff;
  border-top-width: 0px;
}
article .head .operate-panel {
  width: 176px;
  height: 40px;
  background-color: #f6665d;
}
article .head .operate-panel ul {
  padding: 0;
  margin: 0;
}
article .head .operate-panel ul li {
  display: inline-block;
  margin: 6px 6px 0 8px;
}
article .head .operate-panel ul li a {
  display: block;
}
article .head .operate-panel ul li a.like {
  background: url("../img/heart.png") 0 0 no-repeat;
  width: 26px;
  height: 25px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .operate-panel ul li a.like:hover {
  background: url("../img/heart-hover.png") 0 0 no-repeat;
  width: 26px;
  height: 25px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .operate-panel ul li a.gift {
  background: url("../img/gift.png") 0 0 no-repeat;
  width: 26px;
  height: 28px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .operate-panel ul li a.gift:hover {
  background: url("../img/gift-hover.png") 0 0 no-repeat;
  width: 26px;
  height: 28px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .operate-panel ul li a.hi {
  background: url("../img/hi.png") 0 0 no-repeat;
  width: 26px;
  height: 26px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .operate-panel ul li a.hi:hover {
  background: url("../img/hi-hover.png") 0 0 no-repeat;
  width: 26px;
  height: 26px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .operate-panel ul li a.fork {
  background: url("../img/fork.png") 0 0 no-repeat;
  width: 24px;
  height: 27px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .operate-panel ul li a.fork:hover {
  background: url("../img/fork-hover.png") 0 0 no-repeat;
  width: 23px;
  height: 27px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .level {
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
}
article .head .level.gold-star {
  background: url("../img/gold-star-member.png") 0 0 no-repeat;
  width: 78px;
  height: 77px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .level.silver-star {
  background: url("../img/silver-star-member.png") 0 0 no-repeat;
  width: 78px;
  height: 77px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .head .level.star {
  background: url("../img/star-member.png") 0 0 no-repeat;
  width: 78px;
  height: 77px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .pager {
  margin-bottom: 6px;
}
article .pager ul {
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
}
article .pager ul li {
  display: inline-block;
  margin-right: 4px;
}
article .pager ul li a {
  font-size: 14px;
  color: #fff;
  background: url("../img/page.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
}
article .pager ul li.previous a {
  background: url("../img/page-previous.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .pager ul li.next {
  margin-right: 0;
}
article .pager ul li.next a {
  background: url("../img/page-next.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .pager ul li.current a {
  background: url("../img/page-current.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  color: #f6665d;
}
select {
  padding: 6px 0;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  outline: none;
  height: 37px;
  vertical-align: middle;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
  vertical-align: middle;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  background: url("../img/radio.png") 0 0 no-repeat;
  -webkit-background-size: 27px 26px;
  background-size: 27px 26px;
  display: inline-block;
  height: 26px;
  padding-left: 36px;
  line-height: 26px;
  cursor: pointer;
  font-size: 16px;
  vertical-align: middle;
}
input[type="radio"] + label.checked,
input[type="checkbox"] + label.checked {
  background: url("../img/radio-checked.png") 0 0 no-repeat;
  -webkit-background-size: 27px 26px;
  background-size: 27px 26px;
}
footer {
  height: 80px;
  width: 100%;
  background-color: #dfdfdf;
  margin-top: 43px;
  padding-top: 16px;
  min-width: 1200px;
}
footer .links {
  text-align: center;
  color: #656565;
  font-size: 16px;
}
footer .links a {
  color: #656565;
  text-decoration: none;
}
footer .links i {
  margin: 0 5px;
}
footer .copy-right {
  color: #9b9a9a;
  font-size: 16px;
  text-align: center;
  margin-top: 22px;
}
