article .main section {
  background-color: #fff;
  border: 1px solid #d8d8d8;
}
article .main section.content-top {
  font-size: 14px;
  margin-top: 10px;
}
article .main section.content-top .tips {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f0f0f0;
  padding-left: 19px;
  color: #858585;
}
article .main section.content-top .content {
  padding: 10px 14px;
  *zoom: 1;
}
article .main section.content-top .content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main section.content-top .content .condition-box {
  float: left;
}
article .main section.content-top .content .condition-box .title {
  color: #646464;
}
article .main section.content-top .content .condition-box .conditions {
  margin-left: 2px;
  padding-top: 34px;
}
article .main section.content-top .content .condition-box .conditions .tags {
  float: left;
}
article .main section.content-top .content .condition-box .conditions .tags ul {
  margin: 0;
  list-style: none;
  *zoom: 1;
}
article .main section.content-top .content .condition-box .conditions .tags ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main section.content-top .content .condition-box .conditions .tags ul li {
  float: left;
}
article .main section.content-top .content .condition-box .conditions .tags ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: #cc6699;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 17px;
  border-radius: 13px;
}
article .main section.content-top .content .condition-box .conditions .tags ul.selected li a {
  position: relative;
  cursor: default;
}
article .main section.content-top .content .condition-box .conditions .selecting-box {
  *zoom: 1;
}
article .main section.content-top .content .condition-box .conditions .selecting-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main section.content-top .content .condition-box .conditions .selecting-box .tags ul.selected i {
  background: url("../img/close.png") 0 0 no-repeat;
  width: 19px;
  height: 19px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: -7px;
  top: -7px;
  cursor: pointer;
}
article .main section.content-top .content .condition-box .conditions .selecting-box label {
  float: left;
  margin-top: 3px;
}
article .main section.content-top .content .condition-box .conditions .selecting-box .tags {
  max-width: 620px;
}
article .main section.content-top .content .condition-box .conditions .selecting-box .tags ul {
  padding: 0;
}
article .main section.content-top .content .condition-box .conditions .selecting-box .tags ul li {
  margin-left: 10px;
  margin-bottom: 12px;
}
article .main section.content-top .content .condition-box .conditions .selecting-box.hobby-group {
  margin-top: 10px;
}
article .main section.content-top .content .condition-box .conditions .selecting-box.character-group {
  margin-top: 10px;
}
article .main section.content-top .content .condition-box .conditions .selecting-box.other-group {
  margin-top: 6px;
}
article .main section.content-top .content .condition-box .conditions .filter {
  margin-top: 19px;
  max-width: 700px;
  *zoom: 1;
}
article .main section.content-top .content .condition-box .conditions .filter:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main section.content-top .content .condition-box .conditions .filter label {
  width: 56px;
  text-align: right;
  display: inline-block;
  margin-right: 1px;
  margin-top: 6px;
  float: left;
}
article .main section.content-top .content .condition-box .conditions .filter .select-box {
  max-width: 620px;
  float: left;
  margin-left: 4px;
}
article .main section.content-top .content .condition-box .conditions .filter select {
  margin-left: 6px;
  margin-bottom: 19px;
  width: 122px;
  font-size: 16px;
}
article .main section.content-top .content .condition-box .conditions .filter #age,
article .main section.content-top .content .condition-box .conditions .filter #industry,
article .main section.content-top .content .condition-box .conditions .filter #income {
  width: 152px;
}
article .main section.content-top .content .turnplate-box {
  float: right;
  width: 433px;
  height: 433px;
  border-left: 1px solid #e1e1e1;
}
article .main section.content-top .content .turnplate-box .turnplate-outer {
  background: url("../img/turnplate-bg.png") 0 0 no-repeat;
  width: 330px;
  height: 328px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 42px 0 0 58px;
  padding: 6px 0 0 4px;
  position: relative;
}
article .main section.content-top .content .turnplate-box .turnplate-outer .turnplate {
  width: 322px;
  height: 322px;
}
article .main section.content-top .content .turnplate-box .turnplate-outer .turnplate img {
  width: 322px;
  height: 322px;
  vertical-align: middle;
}
article .main section.content-top .content .turnplate-box .turnplate-outer .pointer {
  position: absolute;
  left: 73px;
  top: 66px;
  display: block;
  background: url("../img/pointer.png") 0 0 no-repeat;
  width: 188px;
  height: 199px;
  -webkit-background-size: cover;
  background-size: cover;
  outline: none;
}
article .main section.content-top .content .turnplate-box .one-more-time {
  background: url("../img/one-more-time-bg.png") 0 0 no-repeat;
  width: 334px;
  height: 300px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 42px 0 0 58px;
  position: relative;
  padding-top: 34px;
}
article .main section.content-top .content .turnplate-box .one-more-time .btn-again {
  display: block;
  width: 150px;
  height: 36px;
  border-radius: 4px;
  background-color: #dfb952;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  margin: 12px auto 0;
}
article .main section.content-top .content .turnplate-box .one-more-time .head {
  margin: 0 auto;
}
article .main section.content-bottom {
  margin-top: 9px;
  padding: 13px 0 37px 15px;
}
article .main section.content-bottom h2 {
  font-size: 24px;
  color: #f6665d;
  margin: 0;
}
article .main section.content-bottom .ddp-record {
  *zoom: 1;
  padding: 0;
  margin: 51px 0 0 15px;
}
article .main section.content-bottom .ddp-record:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main section.content-bottom .ddp-record .user {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
article .main section .head {
  width: 176px;
}
article .main section .head a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  width: 176px;
  height: 176px;
}
article .main section .head a img {
  vertical-align: middle;
  width: 176px;
  height: 176px;
}
article .main section .head a .info {
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  background-color: rgba(0, 0, 0, 0.5);
  width: 176px;
  height: 34px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 34px;
}
