article .info {
  background: url("../img/main-bg.png") 0 0 no-repeat;
  width: 1164px;
  height: 229px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 10px;
  padding-top: 32px;
  padding-left: 36px;
  position: relative;
}
article .info .head {
  float: left;
}
article .info .head img {
  width: 164px;
  height: 164px;
  border: 6px solid #fff;
  vertical-align: middle;
}
article .info .head span {
  font-family: arial, Tahoma, Geneva, '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', arial, verdana, helvetica, sans-serif;
  color: #858585;
  font-size: 18px;
  display: block;
  text-align: center;
  width: 176px;
  height: 24px;
  line-height: 24px;
  background-color: #fff;
  margin-top: 8px;
}
article .info .detail {
  float: left;
  margin-left: 48px;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}
article .info .detail div {
  margin-bottom: 8px;
}
article .info .detail div span.name {
  font-size: 30px;
}
article .info .detail div span.level {
  margin-left: 24px;
}
article .info .detail div .upgrade {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: 24px;
  background-color: #f6665d;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  margin-left: 22px;
  vertical-align: top;
  margin-top: 9px;
}
article .info .detail div.location span {
  margin-right: 18px;
}
article .info .detail div.location .info-integrity {
  background-color: #fff;
  width: 179px;
  height: 30px;
  display: inline-block;
  padding-left: 10px;
  position: relative;
  line-height: 28px;
  border-radius: 3px;
  color: #313840;
}
article .info .detail div.location .info-integrity .complete {
  width: 62px;
  height: 30px;
  text-decoration: none;
  color: #fff;
  background-color: #f6665d;
  display: inline-block;
  position: absolute;
  right: 0;
  padding-left: 8px;
  border-radius: 3px;
}
article .info .detail div.location .info-integrity .complete i {
  vertical-align: middle;
  display: inline-block;
  background: url("../img/add.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 4px;
}
article .info .detail div.tags {
  margin-top: 27px;
}
article .info .detail div.tags span {
  margin-right: 5px;
}
article .info .detail div.tags .add-tag {
  width: 92px;
  height: 30px;
  background-color: #f6665d;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  border-radius: 3px;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  padding-left: 8px;
}
article .info .detail div.tags .add-tag i {
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  background: url("../img/add.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 7px 2px 0;
}
article .info .detail div.tags .labels {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  display: inline-block;
}
article .info .detail div.tags .labels li {
  display: inline-block;
  width: 68px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 13px;
  border: 1px solid #fff;
  text-align: center;
  margin-right: 6px;
}
article .info .detail div.intro {
  color: #313840;
  height: 30px;
  background-color: #fff;
  border-radius: 3px;
  line-height: 30px;
  margin-top: 24px;
  padding-left: 5px;
  position: relative;
  padding-right: 32px;
  max-width: 540px;
}
article .info .detail div.intro span {
  vertical-align: middle;
  color: #313840;
  max-width: 540px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
article .info .detail div.intro .edit {
  vertical-align: middle;
  display: inline-block;
  background: url("../img/edit.png") 0 0 no-repeat;
  width: 23px;
  height: 23px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 4px;
  top: 4px;
}
article .info .share {
  width: 216px;
  height: 36px;
  position: absolute;
  right: 0px;
  bottom: 20px;
  font-size: 18px;
  color: #858585;
  padding-left: 14px;
  background-color: #fff;
  line-height: 39px;
}
article .info .share span {
  margin-right: 20px;
  vertical-align: top;
}
article .info .share a {
  display: inline-block;
  margin-right: 16px;
  margin-top: 10px;
}
article .info .share a.weixin {
  background: url("../img/share-weixin.png") 0 0 no-repeat;
  width: 21px;
  height: 18px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .info .share a.weibo {
  background: url("../img/share-weibo.png") 0 0 no-repeat;
  width: 22px;
  height: 18px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .info .share a.tencent {
  background: url("../img/share-tencent.png") 0 0 no-repeat;
  width: 19px;
  height: 19px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .info .share a.qzone {
  background: url("../img/share-qzone.png") 0 0 no-repeat;
  width: 20px;
  height: 17px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 0;
}
article .main {
  margin-top: 10px;
  *zoom: 1;
}
article .main:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .content-left {
  float: left;
  width: 242px;
  min-height: 438px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
}
article .main .content-left ul {
  margin: 0;
  padding: 0;
}
article .main .content-left ul li {
  float: left;
  width: 80px;
  height: 68px;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  display: block;
}
article .main .content-left ul li.pictrue {
  background: #f0f0f0 url("../img/picture.png") 50% 50% no-repeat;
  -webkit-background-size: 49px 50px;
  background-size: 49px 50px;
}
article .main .content-left ul li.pictrue.active {
  background: url("../img/picture-active.png") 50% 50% no-repeat;
  -webkit-background-size: 49px 50px;
  background-size: 49px 50px;
}
article .main .content-left ul li.video {
  background: #f0f0f0 url("../img/upload-video.png") 50% 50% no-repeat;
  -webkit-background-size: 49px 50px;
  background-size: 49px 50px;
}
article .main .content-left ul li.video.active {
  background: url("../img/upload-video-active.png") 50% 50% no-repeat;
  -webkit-background-size: 49px 50px;
  background-size: 49px 50px;
}
article .main .content-left ul li.date {
  background: #f0f0f0 url("../img/date.png") 50% 50% no-repeat;
  -webkit-background-size: 49px 50px;
  background-size: 49px 50px;
}
article .main .content-left ul li.date.active {
  background: url("../img/date-active.png") 50% 50% no-repeat;
  -webkit-background-size: 49px 50px;
  background-size: 49px 50px;
}
article .main .content-left ul li.active {
  background-color: #fff;
  border-right: 1px solid #d8d8d8;
  border-bottom: 0px;
}
article .main .content-left ul li.last {
  border-right: 0px;
}
article .main .content-left .user-img {
  padding: 15px 0 0 0;
}
article .main .content-left .user-img div {
  float: left;
  margin: 0 0 15px 15px;
}
article .main .content-left .user-img .user {
  width: 100px;
  height: 100px;
}
article .main .content-left .user-img .user img {
  width: 100px;
  height: 100px;
}
article .main .content-left .user-img .add {
  width: 98px;
  height: 98px;
  border: 2px dotted #a3a3a3;
  background: #f0f0f0 url("../img/big-add.png") 50% 50% no-repeat;
  cursor: pointer;
}
article .main .content-left .user-img .add-more {
  width: 98px;
  height: 98px;
  border: 2px dotted #bfbfbf;
  cursor: pointer;
  text-align: center;
}
article .main .content-left .user-img .add-more a {
  color: #b6b6b6;
  font-size: 24px;
  text-decoration: none;
  display: block;
  margin-top: 9px;
}
article .main .content-left .user-img .add-more a i {
  background: url("../img/big-down-arrow.png") no-repeat;
  width: 48px;
  height: 10px;
  display: block;
  margin: 5px 0 0 25px;
}
article .main .content-right {
  float: right;
}
article .main .content-right .cr-left {
  width: 152px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  float: left;
  border-right: 0px;
}
article .main .content-right .cr-left ul {
  padding: 0;
}
article .main .content-right .cr-left ul li {
  margin-bottom: 16px;
}
article .main .content-right .cr-left ul li dl {
  margin: 0;
}
article .main .content-right .cr-left ul li dl dt {
  color: #575757;
  font-size: 20px;
  margin: 0 0 15px 12px;
}
article .main .content-right .cr-left ul li dl dt i {
  vertical-align: middle;
  margin: 0 3px 0 0;
}
article .main .content-right .cr-left ul li dl dd {
  color: #575757;
  font-size: 16px;
  line-height: 36px;
  cursor: pointer;
  margin-left: 0px;
  padding-left: 35px;
}
article .main .content-right .cr-left ul li dl dd.active {
  background-color: #f6665d;
  color: #fff;
}
article .main .content-right .cr-left .date-manage dt i {
  background: url("../img/flower.png") left no-repeat;
  display: inline-block;
  width: 22px;
  height: 23px;
  margin-bottom: 2px;
}
article .main .content-right .cr-left .info-manage dt i {
  background: url("../img/info.png") left no-repeat;
  display: inline-block;
  width: 22px;
  height: 24px;
  margin-bottom: 5px;
}
article .main .content-right .cr-left .ddp-manage dt i {
  background: url("../img/folder.png") left no-repeat;
  display: inline-block;
  width: 25px;
  height: 21px;
  margin-bottom: 5px;
}
article .main .content-right .cr-right {
  width: 781px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  float: right;
  font-size: 14px;
  color: #858585;
}
article .main .content-right .cr-right .info-content {
  min-height: 560px;
  margin-bottom: 10px;
}
article .main .content-right .cr-right .published-date ul {
  background-color: #d5d5d5;
  margin: 0;
  padding: 0;
  list-style: none;
}
article .main .content-right .cr-right .published-date ul li {
  padding: 30px 0;
  background-color: #fff;
  margin-bottom: 9px;
  height: 30px;
}
article .main .content-right .cr-right .published-date ul li.last {
  margin-bottom: 0;
}
article .main .content-right .cr-right .published-date ul li table {
  border-collapse: collapse;
  width: 100%;
}
article .main .content-right .cr-right .published-date ul li table th {
  border-right: 1px dashed #b5b5b5;
  font-weight: normal;
  height: 18px;
  width: 92px;
  position: relative;
}
article .main .content-right .cr-right .published-date ul li table th.last {
  border: none;
}
article .main .content-right .cr-right .published-date ul li table th span {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
article .main .content-right .cr-right .published-date ul li table td {
  border-top: 1px dashed #b5b5b5;
  border-right: 1px dashed #b5b5b5;
  height: 18px;
  position: relative;
}
article .main .content-right .cr-right .published-date ul li table td.last {
  border-right: none;
}
article .main .content-right .cr-right .published-date ul li table td > span {
  position: absolute;
  top: 10px;
  left: 10px;
}
article .main .content-right .cr-right .published-date ul li table td > span span {
  display: inline;
}
article .main .content-right .cr-right .published-date ul li table td .view {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  background-color: #f6665d;
  padding: 5px 7px;
}
article .main .content-right .cr-right .published-date ul li table td .view i {
  background: url("../img/scan-eye.png") 0 0 no-repeat;
  display: inline-block;
  width: 16px;
  height: 10px;
  margin: 0 3px 2px 0;
  vertical-align: middle;
}
article .main .content-right .cr-right .i-like {
  color: #858585;
  font-size: 14px;
}
article .main .content-right .cr-right .i-like td {
  padding: 20px;
}
article .main .content-right .cr-right .i-like td.has-border {
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}
article .main .content-right .cr-right .i-like td .user {
  *zoom: 1;
  padding-bottom: 20px;
  border-bottom: 1px dotted #c2c2c2;
}
article .main .content-right .cr-right .i-like td .user:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .content-right .cr-right .i-like td .user .head {
  float: left;
}
article .main .content-right .cr-right .i-like td .user .head a {
  display: block;
}
article .main .content-right .cr-right .i-like td .user .head a img {
  width: 100px;
  height: 100px;
}
article .main .content-right .cr-right .i-like td .user .user-info {
  float: left;
  margin-left: 20px;
}
article .main .content-right .cr-right .i-like td .user .user-info .username {
  font-size: 20px;
  text-decoration: none;
  color: #858585;
}
article .main .content-right .cr-right .i-like td .user .user-info span {
  margin-bottom: 7px;
}
article .main .content-right .cr-right .i-like td .datetime {
  text-align: center;
  margin-top: 8px;
}
article .main .content-right .cr-right table span {
  display: block;
}
article .main .content-right .cr-right table span.date,
article .main .content-right .cr-right table span.name {
  padding-left: 20px;
  min-width: 86px;
  border-right: 1px dashed #c4c4c4;
}
article .main .content-right .cr-right table span.time {
  padding-left: 10px;
  min-width: 85px;
  border-right: 1px dashed #c4c4c4;
}
article .main .content-right .cr-right table span.shop,
article .main .content-right .cr-right table span.gift {
  padding-left: 10px;
  min-width: 187px;
}
article .main .content-right .cr-right table span.initiator,
article .main .content-right .cr-right table span.sender,
article .main .content-right .cr-right table span.receiver {
  min-width: 295px;
}
article .main .content-right .cr-right table span.age,
article .main .content-right .cr-right table span.stature,
article .main .content-right .cr-right table span.education {
  min-width: 94px;
  padding-left: 10px;
  border-right: 1px dashed #c4c4c4;
}
article .main .content-right .cr-right table span.profession {
  padding-left: 10px;
  min-width: 200px;
}
article .main .content-right .cr-right table span.inviter {
  min-width: 150px;
  vertical-align: middle;
}
article .main .content-right .cr-right table span.period {
  margin-top: 2px;
  min-width: 80px;
  vertical-align: middle;
}
article .main .content-right .cr-right table span.place {
  min-width: 120px;
  margin-left: 30px;
}
article .main .content-right .cr-right table span.pay {
  min-width: 140px;
}
article .main .content-right .cr-right table span.send-time {
  margin-top: 2px;
  margin-right: 10px;
}
article .main .content-right .cr-right table span.ddp-date {
  min-width: 75px;
  padding-left: 20px;
  border-right: 1px dashed #c4c4c4;
}
article .main .content-right .cr-right table span.ddp-time {
  min-width: 84px;
  border-right: 1px dashed #c4c4c4;
  text-align: center;
}
article .main .content-right .cr-right table span.ddp-sender {
  min-width: 470px;
  padding-left: 10px;
}
article .main .content-right .cr-right .tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f0f0f0;
}
article .main .content-right .cr-right .tabs li {
  float: left;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}
article .main .content-right .cr-right .tabs li.last a {
  border-right: none;
}
article .main .content-right .cr-right .tabs li a {
  font-size: 14px;
  color: #858585;
  text-decoration: none;
  padding: 0 10px;
  border-right: 1px solid #d8d8d8;
}
article .main .content-right .cr-right .tabs li.active {
  background-color: #fff;
}
article .main .content-right .cr-right .tabs li.active a {
  border-right: none;
}
article .main .content-right .cr-right .tab-content {
  color: #858585;
  font-size: 14px;
}
article .main .content-right .cr-right .tab-content .tab-pane {
  display: none;
}
article .main .content-right .cr-right .tab-content .tab-pane.active {
  display: block;
}
article .main .content-right .cr-right .tab-content .tab-pane table {
  width: 100%;
}
article .main .content-right .cr-right .tab-content .tab-pane table td {
  vertical-align: middle;
  height: 73px;
  border-bottom: 1px solid #d8d8d8;
}
article .main .content-right .cr-right .scan-date .return-back {
  width: 781px;
  height: 26px;
  background-color: #d8d8d8;
}
article .main .content-right .cr-right .scan-date .return-back a {
  color: #fff;
  font-size: 14px;
  background: url(../img/back.png) 0 0 no-repeat;
  width: 55px;
  height: 26px;
  display: block;
  float: right;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
}
article .main .content-right .cr-right .scan-date .select {
  text-decoration: none;
  background-color: #f6665d;
  border-radius: 3px;
  padding: 5px 30px;
  color: #fff;
  font-size: 12px;
  margin-right: 30px;
}
article .main .content-right .cr-right .system-notice table {
  table-layout: fixed;
}
article .main .content-right .cr-right .system-notice th {
  vertical-align: middle;
  height: 30px;
  background-color: #f0f0f0;
  font-weight: normal;
  text-align: left;
}
article .main .content-right .cr-right .system-notice th.title {
  width: 500px;
}
article .main .content-right .cr-right .system-notice th span {
  display: block;
}
article .main .content-right .cr-right .system-notice th span.th-l {
  margin-left: 60px;
  margin-right: 20px;
}
article .main .content-right .cr-right .system-notice tr.title span.notice-content {
  margin-left: 30px;
  margin-right: 20px;
  vertical-align: middle;
  cursor: pointer;
}
article .main .content-right .cr-right .system-notice tr.title span.notice-content i {
  vertical-align: middle;
  display: inline-block;
  background: url("../img/unfold.png") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 10px;
}
article .main .content-right .cr-right .system-notice tr.title.opened td {
  border-bottom: 1px dashed #d8d8d8;
}
article .main .content-right .cr-right .system-notice tr.title.opened span.notice-content i {
  background: url("../img/fold.png") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .main .content-right .cr-right .system-notice tr.detail {
  display: none;
}
article .main .content-right .cr-right .system-notice tr.detail td {
  padding-left: 50px;
}
article .main .content-right .cr-right .system-notice tr.detail i {
  float: left;
  display: block;
  background: url("../img/dot.png") 0 0 no-repeat;
  width: 8px;
  height: 8px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 20px;
}
article .main .content-right .cr-right .system-notice tr.detail p {
  float: left;
  width: 699px;
  font-size: 14px;
  margin: 14px 0 14px 4px;
}
article .main .content-right .cr-right .attended-date .comment {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  background-color: #3fc481;
  display: block;
  width: 60px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  border-radius: 3px;
  margin-right: 28px;
}
article .main .content-right .cr-right .attended-date .comment i {
  display: inline-block;
  background: url("../img/pen.png") 0 0 no-repeat;
  width: 16px;
  height: 15px;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
}
article .main .content-right .cr-right .ddp-manage .invite {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  background-color: #f6665d;
  display: block;
  width: 60px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  border-radius: 3px;
  margin-right: 28px;
}
article .main .content-right .cr-right .ddp-manage .invite i {
  display: inline-block;
  background: url("../img/drink.png") 0 0 no-repeat;
  width: 9px;
  height: 14px;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  margin: 0 4px 2px 0;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr td {
  border-bottom: 10px solid #f0f0f0;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr td a {
  text-decoration: none;
  color: #858585;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr td span.msg {
  background: url(../img/envelope.png) 0 0 no-repeat;
  width: 30px;
  height: 19px;
  display: block;
  margin-left: 20px;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.opened td {
  border-bottom: 1px dashed #c9c9c9;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.opened td span.msg {
  background: url(../img/envelope-opened.png) 0 0 no-repeat;
  width: 30px;
  height: 31px;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.detail {
  display: none;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.detail td .input-group {
  display: inline-block;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.detail td .input-group label {
  font-size: 14px;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.detail td .input-group.yes-group {
  margin-left: 30px;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.detail td .input-group.no-group {
  margin-left: 110px;
}
article .main .content-right .cr-right .date-msg .tab-content .tab-pane table tr.detail td .btn-reply {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 80px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #fff;
  background-color: #f6665d;
  border-radius: 4px;
  margin-left: 60px;
}
article .main .content-right.other .cr-right .published-date ul {
  background-color: #fff;
}
article .main .content-right.other .cr-right .published-date ul li {
  margin-bottom: 0;
  height: auto;
  border-bottom: 1px solid #d8d8d8;
  padding: 20px 0 20px 30px;
  *zoom: 1;
}
article .main .content-right.other .cr-right .published-date ul li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .content-right.other .cr-right .published-date ul li .head {
  float: left;
}
article .main .content-right.other .cr-right .published-date ul li .head img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}
article .main .content-right.other .cr-right .published-date ul li .detail {
  float: left;
  margin-left: 40px;
}
article .main .content-right.other .cr-right .published-date ul li .detail div {
  margin-top: 5px;
  margin-bottom: 16px;
}
article .main .content-right.other .cr-right .published-date ul li .detail div i {
  display: inline-block;
  vertical-align: middle;
}
article .main .content-right.other .cr-right .published-date ul li .detail div span {
  vertical-align: middle;
  margin-left: 8px;
}
article .main .content-right.other .cr-right .published-date ul li .detail div.time i {
  background: url("../img/icon-time.png") 0 0 no-repeat;
  width: 19px;
  height: 18px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .main .content-right.other .cr-right .published-date ul li .detail div.place i {
  background: url("../img/icon-place.png") 0 0 no-repeat;
  width: 19px;
  height: 16px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .main .content-right.other .cr-right .published-date ul li .detail div.gender {
  margin-bottom: 0;
}
article .main .content-right.other .cr-right .published-date ul li .detail div.gender i {
  background: url("../img/icon-gender.png") 0 0 no-repeat;
  width: 21px;
  height: 18px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .main .content-right.other .cr-right .published-date ul li .enroll {
  float: right;
  margin: 36px 20px 0 0;
}
article .main .content-right.other .cr-right .published-date ul li .enroll span {
  font-size: 14px;
  color: #858585;
  margin-right: 18px;
}
article .main .content-right.other .cr-right .published-date ul li .enroll span strong {
  font-weight: normal;
  color: #19b000;
}
article .main .content-right.other .cr-right .published-date ul li .enroll .btn-enroll {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 90px;
  height: 26px;
  background-color: #f6665d;
  font-size: 12px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
article .main .content-right.other .cr-right .published-date ul li .enroll .btn-enroll i {
  display: inline-block;
  background: url("../img/little-cup.png") 0 0 no-repeat;
  width: 12px;
  height: 18px;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}
article .main .content-right.other .cr-right .published-date ul li .enroll .btn-enroll.disabled {
  color: #a4a4a4;
  background-color: #f0f0f0;
  cursor: not-allowed;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user {
  border-bottom: 1px solid #d8d8d8;
  padding: 20px 20px;
  background-color: #fff;
  *zoom: 1;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .head {
  float: left;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .head > a {
  display: block;
  position: relative;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .head img {
  width: 176px;
  height: 176px;
  vertical-align: middle;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile {
  margin-left: 24px;
  float: left;
  color: #858585;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .basic-info {
  font-size: 14px;
  margin-top: -4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .basic-info .nick {
  font-size: 30px;
  vertical-align: bottom;
  text-decoration: none;
  color: #858585;
  margin-right: 12px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .basic-info span {
  position: relative;
  top: -4px;
  margin-right: 23px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .basic-info span.job {
  margin-right: 0;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .labels {
  margin-top: 7px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .labels li {
  display: inline-block;
  height: 20px;
  border: 1px solid #ff4e45;
  color: #ff4e45;
  line-height: 20px;
  padding: 0 15px;
  border-radius: 3px;
  margin-right: 6px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .labels li:hover {
  color: #fff;
  background-color: #ff4e45;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .inner-chatter {
  margin-top: 8px;
  font-size: 14px;
  *zoom: 1;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .inner-chatter:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .inner-chatter span {
  float: left;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .inner-chatter p {
  float: left;
  margin: 0;
  max-width: 460px;
  max-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  white-space: nowrap;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp {
  width: 322px;
  height: 65px;
  border: 1px solid #d8d8d8;
  padding: 7px 8px;
  margin-top: 8px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp .time-place {
  border-bottom: 1px dashed #d8d8d8;
  padding-bottom: 7px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp .time-place .time {
  vertical-align: bottom;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp .time-place .place {
  vertical-align: bottom;
  margin-left: 34px;
  width: 116px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp .gender-enroll {
  margin-top: 8px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp .gender-enroll .gender {
  font-size: 20px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp .gender-enroll .enroll {
  font-size: 14px;
  margin-left: 25px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .profile .ddp .gender-enroll .enroll em {
  font-style: normal;
  color: #f6665d;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .enrolling-now {
  float: right;
  border-left: 1px solid #d8d8d8;
  width: 160px;
  height: 162px;
  text-align: center;
  padding-top: 64px;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .enrolling-now a {
  display: inline-block;
  color: #f6665d;
  font-size: 16px;
  text-decoration: none;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .enrolling-now a i {
  display: block;
  background: url("../img/cup.png") 0 0 no-repeat;
  width: 64px;
  height: 64px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .enrolling-now a i:hover {
  background: url("../img/cup-hover.png") 0 0 no-repeat;
  width: 64px;
  height: 64px;
  -webkit-background-size: cover;
  background-size: cover;
}
article .main .content-right.other .cr-right .attended-date .tab-content .tab-pane ul .user .enrolling-now a span {
  position: relative;
  top: 5px;
}
article .main .content-right.other .cr-right .present .tab-content .tab-pane table tr td {
  position: relative;
  text-align: center;
  height: 290px;
  vertical-align: middle;
  border-right: 1px solid #d8d8d8;
}
article .main .content-right.other .cr-right .present .tab-content .tab-pane table tr td.last {
  border-right: none;
}
article .main .content-right.other .cr-right .present .tab-content .tab-pane table tr td .score {
  background: url("../img/score-bg.png") 0 0 no-repeat;
  width: 70px;
  height: 40px;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 10px;
  top: 0;
}
article .main .content-right.other .cr-right .present .tab-content .tab-pane table tr td .gift {
  color: #555555;
  font-size: 18px;
}
article .main .content-right.other .cr-right .present .tab-content .tab-pane table tr td .gift span {
  display: block;
  text-align: center;
  position: relative;
  top: 20px;
}
article .main .content-right.other .cr-right .present .tab-content .tab-pane table tr td .gift span.name {
  padding-left: 0;
  min-width: 0;
  border-right: none;
}
article .main .content-right.other .cr-right .present .tab-content .tab-pane table tr td .gift span.count {
  top: 26px;
}
article .main .content-right.other .cr-right .date-msg .tab-content .tab-pane table tr td {
  height: 86px;
}
article .main .content-right.other .cr-right .date-msg .tab-content .tab-pane table tr td span.head {
  margin-left: 34px;
  width: 66px;
  height: 66px;
  position: relative;
  background-color: #f6665d;
  display: block;
}
article .main .content-right.other .cr-right .date-msg .tab-content .tab-pane table tr td span.head img {
  width: 62px;
  height: 62px;
  position: absolute;
  left: 2px;
  top: 2px;
  vertical-align: middle;
}
article .main .content-right.other .cr-right .date-msg .tab-content .tab-pane table tr td span.head i {
  display: block;
  background: url("../img/user-circle-mask.png") 0 0 no-repeat;
  width: 66px;
  height: 66px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
article .main .content-right.other .cr-right .date-msg .tab-content .tab-pane table tr td span.period {
  margin: 0;
}
article .main .content-right.other .cr-right .user-info-table {
  color: #858585;
  font-size: 14px;
}
article .main .content-right.other .cr-right .user-info-table td {
  padding: 20px;
}
article .main .content-right.other .cr-right .user-info-table td.has-border {
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}
article .main .content-right.other .cr-right .user-info-table td .user {
  *zoom: 1;
  padding-bottom: 20px;
  border-bottom: 1px dotted #c2c2c2;
}
article .main .content-right.other .cr-right .user-info-table td .user:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .content-right.other .cr-right .user-info-table td .user .head {
  float: left;
}
article .main .content-right.other .cr-right .user-info-table td .user .head a {
  display: block;
}
article .main .content-right.other .cr-right .user-info-table td .user .head a img {
  width: 100px;
  height: 100px;
}
article .main .content-right.other .cr-right .user-info-table td .user .user-info {
  float: left;
  margin-left: 20px;
}
article .main .content-right.other .cr-right .user-info-table td .user .user-info .username {
  font-size: 20px;
  text-decoration: none;
  color: #858585;
}
article .main .content-right.other .cr-right .user-info-table td .user .user-info span {
  margin-bottom: 7px;
}
article .main .content-right.other .cr-right .user-info-table td .datetime {
  text-align: center;
  margin-top: 8px;
}
