.info-pop {
  width: 1200px;
  height: 672px;
  color: #9a9a9a;
  background-color: #f0f0f0;
  position: relative;
  *zoom: 1;
}
.info-pop:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.info-pop h3 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}
.info-pop form {
  margin-top: 33px;
}
.info-pop form label {
  font-size: 16px;
  vertical-align: middle;
  width: 70px;
  text-align: right;
  display: inline-block;
}
.info-pop form .input-group,
.info-pop form .short-input-group {
  margin-bottom: 16px;
}
.info-pop form .short-input-group label {
  width: 40px;
}
.info-pop form .form-group {
  margin-bottom: 30px;
}
.info-pop .basic-info {
  padding: 27px;
  float: left;
  border-right: 1px solid #d8d8d8;
  padding: 0 27px;
  margin: 27px 0;
}
.info-pop .detail-info {
  float: left;
  padding: 27px 0 6px;
  margin: 0 27px;
  border-bottom: 1px solid #d8d8d8;
}
.info-pop .detail-info .short-input-group label {
  width: 70px;
}
.info-pop .inner-chatter {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 693px;
  height: 178px;
  padding: 5px 27px 27px 0;
}
.info-pop .inner-chatter form {
  margin-top: 0;
}
.info-pop .inner-chatter form .input-group {
  margin-bottom: 0;
}
.info-pop .inner-chatter form .input-group label {
  font-size: 18px;
  width: auto;
  vertical-align: top;
  margin-right: 5px;
}
.info-pop .inner-chatter form .input-group textarea {
  width: 590px;
  height: 120px;
  border-radius: 4px;
  resize: none;
  margin-bottom: 5px;
  border: 1px solid #c4c4c4;
}
.exclusive-labels {
  float: right;
  width: 464px;
  height: 446px;
  background-color: #fff;
}
.exclusive-labels h3 {
  margin: 27px 0 33px 27px;
}
.exclusive-labels .label-group {
  *zoom: 1;
  margin-bottom: 20px;
  margin-left: 10px;
}
.exclusive-labels .label-group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.exclusive-labels .label-group label {
  font-size: 14px;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}
.exclusive-labels .label-group ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  *zoom: 1;
}
.exclusive-labels .label-group ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.exclusive-labels .label-group ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.exclusive-labels .label-group ul li a {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  color: #fff;
  text-decoration: none;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  padding: 0 14px;
}
.exclusive-labels .label-group ul li a.on {
  height: 22px;
  line-height: 22px;
  padding: 0 12px;
  border: 2px solid red;
}
.user-info-pop form input,
.user-info-pop form select {
  font-size: 16px;
  width: 320px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  line-height: 32px;
  vertical-align: middle;
  outline: none;
}
.user-info-pop form input.invalid,
.user-info-pop form select.invalid {
  border: 1px solid #f6655e;
}
.user-info-pop form input {
  height: 32px;
  width: 310px;
  padding-left: 10px;
}
.user-info-pop form select {
  line-height: 24px;
  padding: 6px 0;
}
.user-info-pop form .short-input-group input {
  width: 140px;
}
.user-info-pop form .short-input-group select {
  width: 150px;
}
.user-info-pop form button {
  width: 76px;
  height: 34px;
  background-color: #44a954;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  float: right;
}
.user-info-pop .exclusive-labels button {
  width: 76px;
  height: 34px;
  background-color: #44a954;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  float: right;
  margin-right: 27px;
}
.user-info-pop .inner-chatter form .input-group textarea {
  width: 590px;
  height: 120px;
  border-radius: 4px;
  resize: none;
  margin-bottom: 5px;
  border: 1px solid #c4c4c4;
}
.level-up-pop {
  width: 961px;
  background-color: #fff;
}
.level-up-pop tr {
  border-bottom: 1px solid #d8d8d8;
}
.level-up-pop tr.last {
  border-bottom: none;
}
.level-up-pop .level {
  width: 190px;
  background-color: #e5e5e5;
  text-align: center;
  vertical-align: middle;
}
.level-up-pop .level .star {
  background: url("../img/star.png") 0 0 no-repeat;
  width: 60px;
  height: 80px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
.level-up-pop .level .silver-star {
  background: url("../img/silver-star.png") 0 0 no-repeat;
  width: 71px;
  height: 85px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
.level-up-pop .level .gold-star {
  background: url("../img/gold-star.png") 0 0 no-repeat;
  width: 63px;
  height: 82px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
.level-up-pop .permissions {
  width: 497px;
  background-color: #fcfcfc;
  padding: 23px 0 40px 46px;
}
.level-up-pop .permissions h3 {
  font-weight: bold;
  color: #f6665e;
  font-size: 22px;
  margin: 0;
}
.level-up-pop .permissions ol {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #5f5f5f;
  font-size: 14px;
}
.level-up-pop .permissions ol li {
  margin-top: 10px;
}
.level-up-pop .permissions ol .sub-permissions {
  color: #858585;
  padding-left: 21px;
}
.level-up-pop .permissions ol .sub-permissions li {
  margin-top: 8px;
}
.level-up-pop .way-to-upgrade {
  width: 274px;
}
.level-up-pop .way-to-upgrade .way {
  width: 204px;
  margin: 0 auto;
  border: 3px dotted #bfbfbf;
  border-radius: 5px;
}
.level-up-pop .way-to-upgrade .way h4 {
  font-weight: bold;
  color: #f6665e;
  font-size: 22px;
  text-align: center;
  margin: -17px auto 0;
  background-color: #fff;
  width: 92px;
}
.level-up-pop .way-to-upgrade .way span {
  text-align: center;
  font-size: 18px;
  color: #f6665e;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.level-up-pop .way-to-upgrade .way a {
  display: block;
  width: 182px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 10px;
}
.level-up-pop .way-to-upgrade .way .invite-friend {
  background-color: #3ec381;
}
.level-up-pop .way-to-upgrade .way .pay-now {
  background-color: #f6665e;
}
.level-up-pop .way-to-upgrade .way.more-padding span {
  margin-top: 20px;
  margin-bottom: 20px;
}
.level-up-pop .expiration-date {
  text-align: center;
  font-size: 14px;
  color: #858585;
  margin-top: 6px;
}
.other-info-pop form span {
  font-size: 16px;
  line-height: 34px;
  vertical-align: middle;
  height: 34px;
  width: 310px;
  padding-left: 5px;
  display: inline-block;
}
.other-info-pop form .short-input-group span {
  width: 140px;
}
.other-info-pop .exclusive-labels .label-group {
  margin-left: 30px;
}
.other-info-pop .inner-chatter form .input-group p {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 5px;
}
.complete-info-pop {
  width: 372px;
  min-height: 612px;
  background-color: #f0f0f0;
  border: 4px solid #f6665d;
  padding: 15px 65px;
  font-size: 16px;
  color: #858585;
}
.complete-info-pop h1 {
  font-size: 24px;
  color: #f6665d;
  font-weight: normal;
  margin: 0;
  text-align: center;
}
.complete-info-pop .upload {
  width: 104px;
  height: 92px;
  border: 4px solid #f6665d;
  margin: 22px auto 20px;
  position: relative;
  padding: 32px 10px 0;
}
.complete-info-pop .upload .plus {
  background: url("../img/big-plus.png") 0 0 no-repeat;
  width: 42px;
  height: 41px;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
.complete-info-pop .upload .tip {
  color: #858585;
  font-size: 12px;
  text-align: center;
  margin-top: 9px;
}
.complete-info-pop .upload input[type="file"] {
  display: block;
  width: 124px;
  height: 124px;
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.complete-info-pop .upload img {
  width: 124px;
  height: 124px;
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: middle;
}
.complete-info-pop input[type="text"] {
  height: 32px;
  width: 300px;
  border: 1px solid #c4c4c4;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 32px;
  outline: none;
  vertical-align: middle;
}
.complete-info-pop #birthday + i {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: #c4c4c4 url("../img/calendar-2.png") 50% 50% no-repeat;
  -webkit-background-size: 22px 23px;
  background-size: 22px 23px;
  border-radius: 4px;
  position: absolute;
  right: 8px;
  top: 0;
  cursor: pointer;
}
.complete-info-pop select {
  width: 320px;
}
.complete-info-pop label {
  margin-right: 7px;
}
.complete-info-pop .input-group {
  margin-bottom: 18px;
  position: relative;
}
.complete-info-pop button {
  border: none;
  background-color: #f6655e;
  font-size: 16px;
  width: 322px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  margin-left: 20px;
  margin-left: 43px;
}
.complete-info-pop .tags {
  *zoom: 1;
  margin-bottom: 8px;
  margin-top: -2px;
  position: relative;
}
.complete-info-pop .tags:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.complete-info-pop .tags label {
  float: left;
  margin-right: 10px;
}
.complete-info-pop .tags .btn-add-tag {
  display: block;
  float: left;
  background: #c4c4c4 url("../img/small-plus.png") 50% 50% no-repeat;
  -webkit-background-size: 29px 29px;
  background-size: 29px 29px;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  margin-left: 5px;
}
.complete-info-pop .tags .exclusive-labels {
  float: none;
  width: 415px;
  height: 358px;
  border: 6px solid #c4c4c4;
  position: absolute;
  right: -473px;
  top: -200px;
  padding: 6px 0 0 23px;
}
.complete-info-pop .tags .exclusive-labels h3 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.complete-info-pop .tags .exclusive-labels .label-group {
  margin: 24px 0 0 0;
}
.complete-info-pop .tags .exclusive-labels button {
  width: 76px;
  height: 34px;
  background-color: #44a954;
  float: right;
  margin-right: 6px;
  margin-top: 6px;
}
.complete-info-pop .tags .selected {
  float: left;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: block;
  width: 262px;
  min-height: 54px;
  padding: 10px;
  margin: 0;
  background-color: #fff;
}
.complete-info-pop .tags .selected li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.complete-info-pop .tags .selected li a {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  color: #fff;
  text-decoration: none;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  padding: 0 14px;
}
.complete-info-pop .tags .selected li a.on {
  height: 22px;
  line-height: 22px;
  padding: 0 12px;
  border: 2px solid red;
}
.complete-info-pop .tags .selected li a {
  position: relative;
}
.complete-info-pop .tags .selected li a.on {
  border: none;
  height: 26px;
  line-height: 26px;
  padding: 0 14px;
}
.complete-info-pop .tags .selected li a i {
  background: url("../img/close.png") 0 0 no-repeat;
  width: 19px;
  height: 19px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: -7px;
  top: -7px;
  cursor: pointer;
}
.complete-info-pop #agree-deal + label {
  margin-left: 43px;
  margin-top: 10px;
}
.complete-info-pop label[for="gender-male"] {
  margin-left: 30px;
}
.complete-info-pop label[for="gender-female"] {
  margin-left: 74px;
}
