article .main {
  margin-top: 22px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
}
article .main .title {
  height: 113px;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 53px;
}
article .main .field-set {
  position: relative;
  border-bottom: 1px solid #d8d8d8;
}
article .main .field-set h2 {
  color: #f6665d;
  font-size: 30px;
  font-weight: normal;
  background-color: #fff;
  position: absolute;
  left: 46px;
  top: -49px;
}
article .main .field-set label {
  font-size: 18px;
  color: #858585;
}
article .main .field-set.meal-pal {
  padding: 63px 0 0 54px;
}
article .main .field-set input[type="text"] {
  height: 32px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  line-height: 32px;
}
article .main .field-set .gender-box {
  *zoom: 1;
}
article .main .field-set .gender-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set .gender-box > label {
  float: left;
  margin-right: 36px;
  vertical-align: middle;
  line-height: 26px;
}
article .main .field-set .gender-box > .input-group {
  float: left;
  margin-right: 42px;
}
article .main .field-set .age-constellation {
  margin-top: 32px;
  *zoom: 1;
}
article .main .field-set .age-constellation:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set .age-constellation .input-group {
  float: left;
  margin-right: 50px;
}
article .main .field-set .age-constellation .input-group label {
  margin-right: 3px;
}
article .main .field-set .age-constellation .input-group select {
  width: 202px;
  padding: 6px 0;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}
article .main .field-set .btn {
  background-color: #44a954;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  vertical-align: middle;
  padding: 0 20px;
  border-radius: 4px;
}
article .main .field-set .btn-with-arrow {
  padding-right: 6px;
  padding-left: 14px;
}
article .main .field-set .btn-with-arrow i {
  background: url("../img/double-right-arrow.png") 0 0 no-repeat;
  width: 14px;
  height: 15px;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
article .main .field-set .favor-group,
article .main .field-set .character-group {
  max-width: 1100px;
  *zoom: 1;
}
article .main .field-set .favor-group:after,
article .main .field-set .character-group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set .favor-group > label,
article .main .field-set .character-group > label {
  float: left;
  vertical-align: middle;
}
article .main .field-set .favor-group .tags,
article .main .field-set .character-group .tags {
  float: left;
}
article .main .field-set .favor-group .tags ul,
article .main .field-set .character-group .tags ul {
  margin: 0;
  list-style: none;
  *zoom: 1;
}
article .main .field-set .favor-group .tags ul:after,
article .main .field-set .character-group .tags ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set .favor-group .tags ul li,
article .main .field-set .character-group .tags ul li {
  float: left;
}
article .main .field-set .favor-group .tags ul li a,
article .main .field-set .character-group .tags ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: #cc6699;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 17px;
  border-radius: 13px;
}
article .main .field-set .favor-group .tags ul.selected li a,
article .main .field-set .character-group .tags ul.selected li a {
  position: relative;
  cursor: default;
}
article .main .field-set .favor-group .selecting-box,
article .main .field-set .character-group .selecting-box {
  *zoom: 1;
}
article .main .field-set .favor-group .selecting-box:after,
article .main .field-set .character-group .selecting-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set .favor-group .selecting-box .tags ul.selected i,
article .main .field-set .character-group .selecting-box .tags ul.selected i {
  background: url("../img/close.png") 0 0 no-repeat;
  width: 19px;
  height: 19px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: -7px;
  top: -7px;
  cursor: pointer;
}
article .main .field-set .favor-group .tags ul.selected li,
article .main .field-set .character-group .tags ul.selected li {
  margin-right: 12px;
  margin-bottom: 10px;
}
article .main .field-set .favor-group .tags ul.unselected,
article .main .field-set .character-group .tags ul.unselected {
  padding: 20px 22px 10px;
  min-height: 40px;
}
article .main .field-set .favor-group .tags ul.unselected li,
article .main .field-set .character-group .tags ul.unselected li {
  margin-bottom: 14px;
  margin-right: 10px;
}
article .main .field-set .favor-group .unselect-box,
article .main .field-set .character-group .unselect-box {
  margin-top: -4px;
  margin-left: 7px;
  float: left;
  vertical-align: middle;
}
article .main .field-set .favor-group .selecting-box,
article .main .field-set .character-group .selecting-box {
  float: left;
  margin-top: -13px;
  margin-left: 7px;
}
article .main .field-set .favor-group .selecting-box .tags,
article .main .field-set .character-group .selecting-box .tags {
  width: 490px;
  border: 1px solid #c4c4c4;
  padding: 0 5px;
  border-radius: 4px;
}
article .main .field-set .favor-group .selecting-box .tags ul.selected,
article .main .field-set .character-group .selecting-box .tags ul.selected {
  padding: 0 15px;
  padding-top: 13px;
  border-bottom: 1px solid #d7d7d7;
  min-height: 36px;
}
article .main .field-set .favor-group .selecting-box .btn,
article .main .field-set .character-group .selecting-box .btn {
  float: left;
  margin-top: 9px;
  margin-left: 10px;
}
article .main .field-set .favor-group .selected-box,
article .main .field-set .character-group .selected-box {
  *zoom: 1;
}
article .main .field-set .favor-group .selected-box:after,
article .main .field-set .character-group .selected-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set .favor-group .selected-box .tags,
article .main .field-set .character-group .selected-box .tags {
  margin-left: 28px;
  max-width: 900px;
}
article .main .field-set .favor-group .selected-box .tags ul.selected,
article .main .field-set .character-group .selected-box .tags ul.selected {
  padding: 0;
}
article .main .field-set .favor-group .selected-box .btn,
article .main .field-set .character-group .selected-box .btn {
  margin-left: 35px;
  margin-top: -4px;
  float: left;
}
article .main .field-set .favor-group {
  margin-top: 45px;
}
article .main .field-set .character-group {
  margin-top: 50px;
  padding-bottom: 70px;
}
article .main .field-set.meal-time {
  padding: 74px 0 86px 49px;
  *zoom: 1;
}
article .main .field-set.meal-time:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set.meal-time label {
  vertical-align: middle;
}
article .main .field-set.meal-time input[type="text"] {
  margin-left: 1px;
  width: 206px;
  vertical-align: middle;
  padding: 0 38px 0 6px;
  cursor: pointer;
}
article .main .field-set.meal-time input[type="text"] + i {
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #c4c4c4 url("../img/calendar.png") 50% 50% no-repeat;
  -webkit-background-size: 20px 21px;
  background-size: 20px 21px;
  border-radius: 2px;
  position: relative;
  left: -33px;
  cursor: pointer;
}
article .main .field-set.meal-time .input-group {
  float: left;
}
article .main .field-set.choose-restaurant {
  padding: 50px 0 52px 40px;
}
article .main .field-set.choose-restaurant label {
  vertical-align: middle;
  margin-right: 10px;
}
article .main .field-set.choose-restaurant a {
  vertical-align: middle;
}
article .main .field-set.bottom {
  border-bottom: none;
  padding: 63px 0 85px;
}
article .main .btn-publish-date {
  width: 260px;
  height: 60px;
  font-size: 24px;
  background-color: #f6665d;
  border: none;
  color: #fff;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
}
.colors {
  color: #bf4080;
  color: #e73825;
  color: #4d4d4d;
  color: #7a67ba;
  color: #27a5cf;
  color: #7a5252;
  color: #77bbbb;
  color: #ff8000;
  color: #2586c9;
  color: #739900;
}
