article .main {
  margin-top: 22px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  padding: 20px 0 29px 20px;
  *zoom: 1;
}
article .main h1 {
  margin: 0;
  color: #434343;
  font-size: 28px;
  font-weight: normal;
}
article .main h2 {
  height: 46px;
  background-color: #fafafa;
  font-size: 22px;
  color: #8a8a8a;
  line-height: 46px;
  padding-left: 13px;
  margin: 0;
  font-weight: normal;
  border: 1px solid #dcdcdc;
}
article .main:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .left-content {
  float: left;
}
article .main .left-content .shop-pic img {
  vertical-align: middle;
  width: 560px;
}
article .main .left-content .map {
  width: 560px;
  margin-top: 30px;
}
article .main .left-content .map .content {
  border: 6px solid #dcdcdc;
  height: 277px;
}
article .main .right-content {
  float: left;
  margin-left: 20px;
}
article .main .right-content .info {
  color: #858585;
}
article .main .right-content .info h1 {
  margin-top: 7px;
  margin-left: 15px;
}
article .main .right-content .info .price {
  margin-left: 14px;
  margin-top: 20px;
}
article .main .right-content .info .price .vip {
  font-size: 18px;
}
article .main .right-content .info .price .vip strong {
  color: #f6665d;
  font-size: 30px;
  font-weight: normal;
}
article .main .right-content .info .price .normal {
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 41px;
}
article .main .right-content .info .contact {
  font-size: 16px;
  margin-left: 14px;
  margin-top: 31px;
}
article .main .right-content .info .contact strong {
  font-weight: normal;
  color: #fe8614;
}
article .main .right-content .info .contact div {
  margin-bottom: 9px;
}
article .main .right-content .info .dishes {
  margin-top: 23px;
  width: 580px;
}
article .main .right-content .info .dishes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #dcdcdc;
  border-top: none;
  height: 391px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 14px;
  padding-top: 18px;
  *zoom: 1;
}
article .main .right-content .info .dishes ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .right-content .info .dishes ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
article .main .right-content .info .dishes ul li img {
  vertical-align: middle;
  width: 247px;
  height: 165px;
}
