.main {
  margin-top: 22px;
  *zoom: 1;
}
.main:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.main .left-content {
  width: 781px;
  border: 1px solid #d8d8d8;
  float: left;
}
.main .left-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main .left-content ul .user {
  border-bottom: 1px solid #d8d8d8;
  padding: 20px 19px;
  background-color: #fff;
  *zoom: 1;
}
.main .left-content ul .user:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.main .left-content ul .user .head {
  float: left;
}
.main .left-content ul .user .head > a {
  display: block;
}
.main .left-content ul .user .head img {
  width: 176px;
  height: 176px;
  vertical-align: middle;
}
.main .left-content ul .user .head .operate-panel {
  margin-top: 10px;
}
.main .left-content ul .user .profile {
  margin-left: 24px;
  float: left;
  color: #858585;
}
.main .left-content ul .user .profile .nick {
  font-size: 30px;
  vertical-align: middle;
  text-decoration: none;
  color: #858585;
}
.main .left-content ul .user .profile .level {
  width: 90px;
  height: 30px;
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  vertical-align: middle;
  margin-left: 10px;
}
.main .left-content ul .user .profile .level.gold-star {
  color: #74450e;
  background-color: #ffe780;
}
.main .left-content ul .user .profile .level.silver-star {
  color: #64809c;
  background-color: #f1f1f1;
}
.main .left-content ul .user .profile .level.star {
  color: #f49b1d;
  background-color: #f1f1f1;
}
.main .left-content ul .user .profile .basic-info {
  font-size: 14px;
  margin-top: 4px;
  max-width: 360px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main .left-content ul .user .profile .basic-info span {
  margin-right: 23px;
}
.main .left-content ul .user .profile .basic-info span.job {
  margin-right: 0;
}
.main .left-content ul .user .profile .labels {
  margin-top: 6px;
}
.main .left-content ul .user .profile .labels li {
  display: inline-block;
  height: 20px;
  border: 1px solid #ff4e45;
  color: #ff4e45;
  line-height: 20px;
  padding: 0 14px;
  border-radius: 3px;
  margin-right: 4px;
}
.main .left-content ul .user .profile .labels li:hover {
  color: #fff;
  background-color: #ff4e45;
}
.main .left-content ul .user .profile .inner-chatter {
  margin-top: 8px;
  font-size: 14px;
  *zoom: 1;
}
.main .left-content ul .user .profile .inner-chatter:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.main .left-content ul .user .profile .inner-chatter span {
  float: left;
}
.main .left-content ul .user .profile .inner-chatter p {
  float: left;
  margin: 0;
  max-width: 280px;
  max-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
}
.main .left-content ul .user .profile .ddp {
  width: 322px;
  height: 65px;
  border: 1px solid #d8d8d8;
  padding: 7px 8px;
  margin-top: 14px;
}
.main .left-content ul .user .profile .ddp .time-place {
  border-bottom: 1px dashed #d8d8d8;
  padding-bottom: 7px;
}
.main .left-content ul .user .profile .ddp .time-place .time {
  vertical-align: bottom;
}
.main .left-content ul .user .profile .ddp .time-place .place {
  vertical-align: bottom;
  margin-left: 34px;
  width: 116px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.main .left-content ul .user .profile .ddp .gender-enroll {
  margin-top: 8px;
}
.main .left-content ul .user .profile .ddp .gender-enroll .gender {
  font-size: 20px;
}
.main .left-content ul .user .profile .ddp .gender-enroll .enroll {
  font-size: 14px;
  margin-left: 25px;
}
.main .left-content ul .user .profile .ddp .gender-enroll .enroll em {
  font-style: normal;
  color: #f6665d;
}
.main .left-content ul .user .enrolling-now {
  float: right;
  border-left: 1px solid #d8d8d8;
  width: 160px;
  height: 162px;
  text-align: center;
  padding-top: 64px;
}
.main .left-content ul .user .enrolling-now a {
  display: inline-block;
  color: #f6665d;
  font-size: 16px;
  text-decoration: none;
}
.main .left-content ul .user .enrolling-now a i {
  display: block;
  background: url("../img/cup.png") 0 0 no-repeat;
  width: 64px;
  height: 64px;
  -webkit-background-size: cover;
  background-size: cover;
}
.main .left-content ul .user .enrolling-now a i:hover {
  background: url("../img/cup-hover.png") 0 0 no-repeat;
  width: 64px;
  height: 64px;
  -webkit-background-size: cover;
  background-size: cover;
}
.main .left-content ul .user .enrolling-now a span {
  position: relative;
  top: 5px;
}
.main .left-content ul .loading {
  height: 77px;
  color: #858585;
  font-size: 18px;
  text-align: center;
  padding-top: 50px;
}
.main .left-content ul .loading p {
  margin: 0;
}
.main .right-content {
  float: right;
}
.main .right-content .publish-date {
  width: 406px;
  height: 238px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
.main .right-content .publish-date h4 {
  background: url("../img/invite-ta.png") 0 0 no-repeat;
  width: 286px;
  height: 28px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 39px auto 0;
}
.main .right-content .publish-date .btn-box {
  width: 303px;
  height: 85px;
  border: 3px dotted #D2D2D2;
  margin: 12px auto 0;
}
.main .right-content .publish-date .btn-box .btn-publish-date {
  width: 190px;
  height: 46px;
  background-color: #f6665d;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  display: block;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  margin: 18px auto 0;
}
.main .right-content .publish-date .btn-box .btn-publish-date:hover {
  background-color: #f54f45;
}
.main .right-content .active-list {
  width: 408px;
  margin-top: 20px;
}
.main .right-content .active-list h4 {
  background: url("../img/active-list-title.png") 0 no-repeat;
  width: 408px;
  height: 55px;
  margin: 0;
}
.main .right-content .active-list ul {
  border: 1px solid #f6665d;
  border-top: none;
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
  padding: 19px 0 3px 22px;
  background-color: #fff;
}
.main .right-content .active-list ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.main .right-content .active-list ul li {
  float: left;
  margin: 0 10px 19px 0;
}
.main .right-content .active-list ul li .head {
  width: 176px;
  height: 176px;
  position: relative;
}
.main .right-content .active-list ul li .head a {
  display: block;
  text-decoration: none;
}
.main .right-content .active-list ul li .head img {
  width: 176px;
  height: 176px;
  vertical-align: middle;
}
.main .right-content .active-list ul li .head .name {
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  background-color: rgba(0, 0, 0, 0.5);
  width: 176px;
  height: 34px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 34px;
}
.main .right-content .active-list ul li .times {
  width: 174px;
  height: 30px;
  border: 1px solid #d8d8d8;
  color: #858585;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
