article .main {
  margin-top: 11px;
}
article .main .field-set.way-to-pay {
  padding: 64px 0 78px 48px;
}
article .main .field-set.way-to-pay .way-to-pay-box {
  *zoom: 1;
}
article .main .field-set.way-to-pay .way-to-pay-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
article .main .field-set.way-to-pay .way-to-pay-box .input-group {
  float: left;
  margin-right: 96px;
}
article .main .field-set.meal-time {
  padding-bottom: 76px;
}
article .main .field-set.choose-restaurant {
  border-bottom: none;
  padding-bottom: 73px;
}
