.wrapper header {
  background-color: #f0f0f0;
}
.wrapper header .logo {
  padding: 27px 63px 45px 0;
}
.wrapper header .logo a {
  background: url("../img/logo2.png") 0 0 no-repeat;
  width: 203px;
  height: 85px;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
.wrapper article {
  margin: 0 330px;
  margin-bottom: 120px;
}
.wrapper article section {
  width: 992px;
  height: 382px;
  border: 4px solid #d8d8d8;
  margin: 0 auto;
  position: relative;
}
.wrapper article section .left {
  background: url("../img/sign-left-bg.png") 0 0 no-repeat;
  width: 484px;
  height: 420px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.wrapper article section form {
  border: 4px solid #d8d8d8;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 508px;
  background-color: #fff;
  width: 326px;
  padding: 22px 86px 0 96px;
}
.wrapper article section form input[type="text"],
.wrapper article section form input[type="password"] {
  height: 32px;
  width: 300px;
  border: 1px solid #c4c4c4;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 32px;
  outline: none;
  vertical-align: middle;
}
.wrapper article section form button {
  border: none;
  background-color: #f6655e;
  font-size: 16px;
  width: 322px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.wrapper article section form .short-input input {
  width: 162px;
}
.wrapper article section form .input-group {
  margin: 0 0 16px 1px;
}
.wrapper article section form .input-group .captcha {
  display: inline-block;
  width: 130px;
  height: 36px;
  vertical-align: middle;
  margin: -3px 0 0 6px;
}
.wrapper article section form .input-group .captcha img {
  width: 130px;
  height: 36px;
  vertical-align: middle;
}
.wrapper article section form .welcome {
  margin: 0 0 19px 0;
}
.wrapper article section form select {
  font-size: 12px;
  width: 322px;
  padding: 7px 0;
}
.wrapper article section form label {
  color: #858585;
  font-size: 14px;
}
#signin-form {
  height: 360px;
}
#signin-form .welcome {
  background: url("../img/welcome-signin.png") 0 0 no-repeat;
  width: 96px;
  height: 24px;
  -webkit-background-size: cover;
  background-size: cover;
}
#signin-form .input-group.remember-forget {
  margin-top: 30px;
  margin-bottom: 13px;
}
#signin-form .input-group.remember-forget a {
  color: #858585;
  font-size: 14px;
  text-decoration: none;
  float: right;
  margin-right: 4px;
  margin-top: 3px;
}
#signin-form .signup-free {
  position: absolute;
  right: -4px;
  bottom: -4px;
  display: block;
  background: url("../img/signup-free.png") 0 0 no-repeat;
  width: 77px;
  height: 76px;
  -webkit-background-size: cover;
  background-size: cover;
}
#signup-form {
  height: 445px;
}
#signup-form .welcome {
  background: url("../img/welcome-signup.png") 0 0 no-repeat;
  width: 96px;
  height: 23px;
  -webkit-background-size: cover;
  background-size: cover;
}
#signup-form .to-signin {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  background: url("../img/go-signin.png") 0 0 no-repeat;
  width: 77px;
  height: 76px;
  -webkit-background-size: cover;
  background-size: cover;
}
#signup-form .agree-deal {
  margin-top: 7px;
}
#signup-form #btn-signup {
  margin-top: 3px;
}
#signup-form .btn-get-captcha {
  border: none;
  background-color: #f6655e;
  font-size: 16px;
  width: 128px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-left: 6px;
}
.wrapper article section form input[type="text"].invalid,
.wrapper article section form input[type="password"].invalid,
.wrapper article section form select.invalid {
  border: 1px solid #f6655e;
}
