@import (reference) "mixins.less";
@import (reference) "variable.less";

article {
    .main {
        margin-top: 22px;
        .restaurants {
            background-color: #fff;
            color: #858585;
            border-collapse: collapse;
            border: 1px solid #d8d8d8;
            width: 100%;
            td {
                border: 1px solid #d8d8d8;
                padding: 20px 0px 17px 24px;
                .clearfix();
                .img {
                    float: left;
                    display: block;
                    img {
                        .size(188px, 122px);
                        vertical-align: middle;
                    }
                }
                .detail {
                    float: left;
                    font-size: 14px;
                    margin-left: 20px;
                    a {
                        color: #858585;
                        text-decoration: none;
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .address {
                        margin: 6px 0 0;
                    }
                    .price {
                        margin-top: 22px;
                        strong {
                            font-weight: normal;
                            font-size: 24px;
                            color: #f6665d;
                        }
                        .normal {
                            margin-left: 30px;
                            text-decoration: line-through;
                        }
                    }
                }
                .btn-choose-this {
                    float: left;
                    display: block;
                    .bg(url("../img/circle-btn-bg.png"), 59px, 59px);
                    font-size: 14px;
                    color: #fff;
                    text-decoration: none;
                    line-height: 59px;
                    text-align: center;
                    margin-left: 40px;
                    margin-top: 32px;
                }
            }
        }
    }
}