@import (reference) "mixins.less";
@import (reference) "variable.less";

body {
    background-color: #f0f0f0;
    font-family: @fontFamily;
    ul{
        list-style: none;
    }
}

.clearfix {
    .clearfix();
}

header {
    background-color: #fcfcfc;
    min-width: @clientWidth;
    nav {
        width: @clientWidth;
        margin: 0 auto;
        padding: 13px 0;
        font-size: 18px;
        a {
            text-decoration: none;
            color: @colorGrey;
        }
        .location {
            font-weight: bold;
            float: left;
            width: 60px;
            .down {
                .bg(url("../img/down-arrow.png"), 21px, 15px);
                display: inline-block;
                vertical-align: middle;
                margin-left: 2px;
            }
            .up {
                .bg(url("../img/up-arrow.png"), 21px, 15px);
                display: inline-block;
                vertical-align: middle;
                margin-left: 2px;
            }
        }
        .mobile-app {
            font-weight: bold;
            float: left;
            margin-left: 58px;
            a {
                background: url("../img/phone.png") 0 0 no-repeat;
                .background-size(16px 23px);
                padding-left: 24px;
                line-height: 23px;
                height: 23px;
                display: inline-block;
            }
        }
        menu {
            float: right;
            margin: 0;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    padding: 0 29px;
                    border-right: 1px solid #c9c9c9;
                    &.last {
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }
        }
    }
    .banner {
        height: 208px;
        width: 100%;
        background: url("../img/banner.png") 50% 0 no-repeat;
        .background-size(cover);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/banner.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/banner.png', sizingMethod='scale')";
        .logo-box {
            width: @clientWidth;
            margin: 0 auto;
            padding-top: 40px;
            .logo {
                .bg("../img/logo.png", 223px, 119px);
                display: block;
            }
        }
    }
}

article {
    width: @clientWidth;
    margin: 0 auto;
    .header {
        background-color: #f6665d;
        margin-top: 22px;
        nav {
            float: left;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    a {
                        text-decoration: none;
                        font-size: 24px;
                        color: #fff;
                        display: block;
                        padding: 22px 46px;
                    }
                    &.active {
                        background-color: #da5850;
                        // height: 75px;
                        height: 100%;
                        height: 75px\9;
                    }
                }
            }
        }
        .message-box {
            float: right;
            margin: 5px 0;
            border-left: 1px solid #f88f89;
            .message {
                background: url("../img/message.png") 0 50% no-repeat;
                .background-size(32px 24px);
                display: block;
                .size(32px,24px);
                margin: 22px 48px 18px 30px;
                position: relative;
                .unread {
                    .bg(url("../img/unread.png"), 18px, 18px);
                    display: block;
                    .offset-rt(-10px, -10px);
                }
                .down, 
                .up {
                    border: 6px solid transparent;
                    font-size: 0;
                    .size(0, 0);
                    .offset-lt(42px, 8px);
                }
                .down {
                    border-top: 9px solid #fff;
                    border-bottom-width: 0px;
                }
                .up {
                    border-bottom: 9px solid #fff;
                    border-top-width: 0px;
                }
            }
        }
    }

    .head {
        .operate-panel {
            // margin-top: 10px;
            .size(176px, 40px);
            background-color: #f6665d;
            ul {
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin: 6px 6px 0 8px;
                    a {
                        display: block;
                        &.like {
                            .bg(url("../img/heart.png"), 26px, 25px);
                            &:hover {
                                .bg(url("../img/heart-hover.png"), 26px, 25px);
                            }
                        }
                        &.gift {
                            .bg(url("../img/gift.png"), 26px, 28px);
                            &:hover {
                                .bg(url("../img/gift-hover.png"), 26px, 28px);
                            }
                        }
                        &.hi {
                            .bg(url("../img/hi.png"), 26px, 26px);
                            &:hover {
                                .bg(url("../img/hi-hover.png"), 26px, 26px);
                            }
                        }
                        &.fork {
                            .bg(url("../img/fork.png"), 24px, 27px);
                            &:hover {
                                .bg(url("../img/fork-hover.png"), 23px, 27px);
                            }
                        }
                    }
                }
            }
        }

        .level {
            display: block;
            .offset-lt(-1px, -1px);
            &.gold-star {
                .bg(url("../img/gold-star-member.png"), 78px, 77px);
            }
            &.silver-star {
                .bg(url("../img/silver-star-member.png"), 78px, 77px);
            }
            &.star {
                .bg(url("../img/star-member.png"), 78px, 77px);
            }
        }

    }


    .pager {
        margin-bottom: 6px;
        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 4px;
                a {
                    font-size: 14px;
                    color: #fff;
                    .bg(url("../img/page.png"), 20px, 20px);
                    display: block;
                    text-decoration: none;
                    line-height: 20px;
                    text-align: center;
                    vertical-align: top;
                }
                &.previous {
                    a {
                        .bg(url("../img/page-previous.png"), 20px, 20px);
                    }
                }
                &.next {
                    margin-right: 0;
                    a {
                        .bg(url("../img/page-next.png"), 20px, 20px);
                    }
                }
                &.current {
                    a {
                        .bg(url("../img/page-current.png"), 20px, 20px);
                        color: #f6665d;
                    }
                }
            }
        }
    }
}

select {
    // width: 202px;
    // height: 34px;
    padding: 6px 0;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    outline: none;
    height: 37px;
    vertical-align: middle;
}


input[type="radio"], 
input[type="checkbox"] {
    display: none;
    vertical-align: middle;
}
input[type="radio"] + label, 
input[type="checkbox"] + label {
    background: url("../img/radio.png") 0 0 no-repeat;
    .background-size(27px 26px);
    display: inline-block;
    height: 26px;
    padding-left: 36px;
    line-height: 26px;
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
}
input[type="radio"] + label.checked, 
input[type="checkbox"] + label.checked {
    background: url("../img/radio-checked.png") 0 0 no-repeat;
    .background-size(27px 26px);
}

footer {
    height: 96px - 16;
    width: 100%;
    background-color: #dfdfdf;
    margin-top: 43px;
    padding-top: 16px;
    min-width: 1200px;
    .links {
        text-align: center;
        color: #656565;
        font-size: 16px;
        a {
            color: #656565;
            text-decoration: none;
        }
        i {
            margin: 0 5px;
        }
    }
    .copy-right {
        color: #9b9a9a;
        font-size: 16px;
        text-align: center;
        margin-top: 22px;
    }
}