@import (reference) "mixins.less";
@import (reference) "variable.less";

.tags-common() {
    .tags {
    
        
        float: left;

        ul {
            margin: 0;
            
            list-style: none;
            .clearfix();
            li {
                float: left;
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #fff;
                    background-color: #cc6699;
                    display: inline-block;
                    height: 26px;
                    line-height: 26px;
                    padding: 0 17px;
                    border-radius: 13px;
                }
            }
            &.selected {
                li {
                    // margin-right: 12px;
                    // margin-bottom: 10px;
                    a {
                        position: relative;
                        cursor: default;
                    }
                }
            }
            // &.unselected {
            //     padding: 20px 22px 10px;
            //     min-height: 40px;
            //     li {
            //         margin-bottom: 14px;
            //         margin-right: 10px;
            //     }
            // }
        }
    }

    .selecting-box {
        // float: left;
        // margin-top: -13px;
        // margin-left: 7px;

        .clearfix();
        .tags {
            // width: 500px - 10;
            // border: 1px solid #c4c4c4;
            // padding: 0 5px;
            // border-radius: 4px;
            ul {
                &.selected {
                    // padding: 0 15px;
                    // padding-top: 13px;
                    // border-bottom: 1px solid #d7d7d7;
                    // min-height: 36px;
                    i {
                        .bg(url("../img/close.png"), 19px, 19px);
                        .offset-tr(-7px, -7px);
                        cursor: pointer;
                    }
                }
            }
        }
        // .btn {
        //     float: left;
        //     margin-top: 9px;
        //     margin-left: 10px;
        // }
    }
}

.translucent() {
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    background-color: rgba(0, 0, 0, .5);
    .size(176px, 34px);
    .offset-lb(0, 0);
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 34px;
}