@import (reference) "mixins.less";
@import (reference) "variable.less";
@import (reference) "common-mixins.less";


article {
    .main {
        section {
            background-color: #fff;
            border: 1px solid #d8d8d8;
            &.content-top {
                font-size: 14px;
                margin-top: 10px;
                .tips {
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #d8d8d8;
                    background-color: #f0f0f0;
                    padding-left: 19px;
                    color: #858585;
                }
                .content {
                    padding: 10px 14px;
                    .clearfix();

                    .condition-box {
                        float: left;
                        .title {
                            color: #646464;
                        }
                        .conditions {
                            margin-left: 2px;
                            padding-top: 34px;

                            //defined in common-mixins
                            .tags-common();

                            .selecting-box {
                                label {
                                    float: left;
                                    margin-top: 3px;
                                }
                                .tags {
                                    max-width: 620px;
                                    ul {
                                        padding: 0;
                                        li {
                                            margin-left: 10px;
                                            margin-bottom: 12px;
                                        }
                                    }
                                }
                                &.hobby-group {
                                    margin-top: 10px;
                                }
                                &.character-group {
                                    margin-top: 10px;
                                }
                                &.other-group {
                                    margin-top: 6px;
                                }
                            }
                            .filter {
                                margin-top: 19px;
                                max-width: 700px;
                                .clearfix();
                                label {
                                    width: 56px;
                                    text-align: right;
                                    display: inline-block;
                                    margin-right: 1px;
                                    margin-top: 6px;
                                    float: left;
                                }
                                .select-box {
                                    max-width: 620px;
                                    float: left;
                                    margin-left: 4px;
                                }
                                select {
                                    margin-left: 6px;
                                    margin-bottom: 19px;
                                    width: 122px;
                                    font-size: 16px;
                                }
                                #age, 
                                #industry, 
                                #income {
                                    width: 152px;
                                }
                            }
                        }
                    }

                    .turnplate-box {
                        float: right;
                        width: 433px;
                        height: 433px;

                        border-left: 1px solid #e1e1e1;
                        .turnplate-outer {
                            .bg(url("../img/turnplate-bg.png"), 334px - 4, 334px - 6);
                            margin: 42px 0 0 58px;
                            padding: 6px 0 0 4px;
                            position: relative;
                            .turnplate {
                                // .bg(url("../img/turnplate.png"), 322px, 322px);
                                .square(322px);
                                img {
                                    .square(322px);
                                    vertical-align: middle;
                                }
                            }
                            .pointer {
                                .offset-lt(73px, 66px);
                                display: block;
                                .bg(url("../img/pointer.png"), 188px, 199px);
                                outline: none;
                            }
                        }
                        .one-more-time {
                            .bg(url("../img/one-more-time-bg.png"), 334px, 334px - 34);
                            margin: 42px 0 0 58px;
                            position: relative;
                            padding-top: 34px;
                            .btn-again {
                                display: block;
                                .size(150px, 36px);
                                border-radius: 4px;
                                background-color: #dfb952;
                                font-size: 16px;
                                color: #fff;
                                text-align: center;
                                line-height: 36px;
                                text-decoration: none;
                                margin: 12px auto 0;
                            }
                            .head {
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
            &.content-bottom {
                margin-top: 9px;
                padding: 13px 0 37px 15px;
                h2 {
                    font-size: 24px;
                    color: #f6665d;
                    margin: 0;
                }
                .ddp-record {
                    .clearfix();
                    padding: 0;
                    margin: 51px 0 0 15px;
                    .user {
                        float: left;
                        margin-right: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
            .head {
                width: 176px;
                a {
                    position: relative;
                    display: block;
                    text-decoration: none;
                    font-size: 14px;
                    color: #fff;
                    // width: 176px;
                    .square(176px);
                    img {
                        vertical-align: middle;
                        .square(176px);
                    }
                    .info {
                        .translucent();
                    }
                }
            }
        }
    }
}

