@import (reference) "mixins.less";
@import (reference) "variable.less";

article {   
    .info {
        .bg(url("../img/main-bg.png"), 1200px-36, 261px-32);
        margin-top: 10px;
        padding-top: 32px;
        padding-left: 36px;
        position: relative;
        .head {
            float: left;
            img {
                .size(164px, 164px);
                border: 6px solid #fff;
                vertical-align: middle;
            }
            span {
                font-family: @fontFamily;
                color: @colorGrey;
                font-size: 18px;
                display: block;
                text-align: center;
                .size(176px, 24px);
                line-height: 24px;
                background-color: #fff;
                margin-top: 8px;
            }
        }
        .detail {
            float: left;
            margin-left: 48px;
            margin-top: 20px;
            color: #fff;
            font-size: 14px;
            div {
                margin-bottom: 8px;
                span {
                    &.name {
                        font-size: 30px;
                    }
                    &.level {
                        margin-left: 24px;
                    }
                }
                .upgrade {
                    font-size: 14px;
                    color: #fff;
                    display: inline-block;
                    .size(50px, 24px);
                    background-color: #f6665d;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 24px;
                    text-decoration: none;
                    margin-left: 22px;
                    vertical-align: top;
                    margin-top: 9px;
                }
                &.location {
                    span {
                        margin-right: 18px;
                    }
                    .info-integrity {
                        background-color: #fff;
                        .size(179px, 30px);
                        display: inline-block;
                        color: #313840;
                        padding-left: 10px;
                        position: relative;
                        line-height: 28px;
                        border-radius: 3px;
                        color: #313840;
                        .complete {
                            .size(62px, 30px);
                            text-decoration: none;
                            color: #fff;
                            background-color: #f6665d;
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            padding-left: 8px;
                            border-radius: 3px;
                            i {
                                vertical-align: middle;
                                display: inline-block;
                                .bg(url("../img/add.png"), 20px, 20px);
                                margin-right: 4px;
                            }
                        }
                    }

                }
                &.tags {
                    margin-top: 27px;
                    span {
                        margin-right: 5px;
                    }
                    .add-tag {
                        .size(92px, 30px);
                        background-color: #f6665d;
                        display: inline-block;
                        line-height: 30px;
                        vertical-align: middle;
                        border-radius: 3px;
                        margin-left: 20px;
                        text-decoration: none;
                        color: #fff;
                        padding-left: 8px;
                        i {
                            line-height: 30px;
                            vertical-align: middle;
                            display: inline-block;
                            .bg(url("../img/add.png"), 20px, 20px);
                            margin:0 7px 2px 0;
                        }
                    }
                    .labels {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        margin-left: 5px;
                        display: inline-block;
                        li {
                            display: inline-block;
                            .size(68px, 24px);
                            line-height: 24px;
                            font-size: 16px;
                            color: #fff;
                            border-radius: 13px;
                            border: 1px solid #fff;
                            text-align: center;
                            margin-right: 6px;
                        }
                    }
                }
                &.intro {
                    color: #313840;
                    height: 30px;
                    // .size(434px - 5, 30px);
                    background-color: #fff;
                    border-radius: 3px;
                    line-height: 30px;
                    margin-top: 24px;
                    padding-left: 5px;
                    position: relative;
                    padding-right: 32px;
                    max-width: 540px;
                    span {
                        vertical-align: middle;
                        color: #313840;
                        max-width: 540px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        display: inline-block;
                    }
                    .edit {
                        vertical-align: middle;
                        display: inline-block;
                        .bg(url("../img/edit.png"), 23px, 23px);
                        .offset-rt(4px, 4px);
                    }
                }
            }
        }

        .share {
            .size(230px-14, 36px);
            .offset-rb(0px, 20px);
            font-size: 18px;
            color: @colorGrey;
            padding-left: 14px;
            background-color: #fff;
            line-height: 39px;
            span {
                margin-right: 20px;
                vertical-align: top;
            }
            a {
                display: inline-block;
                margin-right: 16px;
                margin-top: 10px;
                &.weixin {
                    .bg(url("../img/share-weixin.png"), 21px, 18px);
                }
                &.weibo {
                    .bg(url("../img/share-weibo.png"), 22px, 18px);
                }
                &.tencent {
                    .bg(url("../img/share-tencent.png"), 19px, 19px);
                }
                &.qzone {
                    .bg(url("../img/share-qzone.png"), 20px, 17px);
                    margin-right: 0;
                }
            }
        }
    }
    .main {
        margin-top: 10px;
        .clearfix();
        .content-left {
            float: left;
            width: 242px;
            min-height: 438px;
            background-color: #fff;
            border: 1px solid #d8d8d8;
            ul {
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    width: 80px;
                    height: 68px;
                    border-right: 1px solid #d8d8d8;
                    border-bottom: 1px solid #d8d8d8;
                    
                    cursor: pointer;
                    display: block;
                    &.pictrue {
                        background: #f0f0f0 url("../img/picture.png") 50% 50% no-repeat;
                        .background-size(49px 50px);
                        &.active {
                            background: url("../img/picture-active.png") 50% 50% no-repeat;
                            .background-size(49px 50px);
                        }
                    }
                    &.video {
                        background: #f0f0f0 url("../img/upload-video.png") 50% 50% no-repeat;
                        .background-size(49px 50px);
                        &.active {
                            background: url("../img/upload-video-active.png") 50% 50% no-repeat;
                            .background-size(49px 50px);
                        }
                    }
                    &.date {
                        background: #f0f0f0 url("../img/date.png") 50% 50% no-repeat;
                        .background-size(49px 50px);
                        &.active {
                            background: url("../img/date-active.png") 50% 50% no-repeat;
                            .background-size(49px 50px);
                        }
                    }
                    &.active {
                        background-color: #fff;
                        border-right: 1px solid #d8d8d8;
                        border-bottom: 0px;
                    }
                    &.last {
                        border-right:0px;
                    }
                }
            }
            .user-img {
                padding: 15px 0 0 0;
                div {
                    float: left;
                    margin: 0 0 15px 15px;
                }
                .user {
                    .square(100px);
                    img {
                        .square(100px);
                    }
                }
                .add {
                    .square(98px);
                    border: 2px dotted #a3a3a3;
                    background: #f0f0f0 url("../img/big-add.png") 50% 50% no-repeat;
                    cursor: pointer;
                }
                .add-more {
                    width: 98px;
                    height: 98px;
                    border: 2px dotted #bfbfbf;
                    cursor: pointer;
                    text-align: center;
                    a {
                        color:#b6b6b6;
                        font-size:24px;
                        text-decoration: none;
                        display: block;
                        margin-top: 9px;
                        i {
                            background: url("../img/big-down-arrow.png") no-repeat;
                            width: 48px;
                            height: 10px;
                            display: block;
                            margin: 5px 0 0 25px;
                        }
                    }
                }
            }
        }
        .content-right {
            float: right;
            .cr-left {
                width: 152px;
                // height: 470px;
                border: 1px solid #d8d8d8;
                background-color: #fff;
                float: left;
                border-right: 0px;
                ul {
                    // width: 151px;
                    padding: 0;
                    li {
                        margin-bottom: 16px;
                        dl {
                            margin: 0;
                            dt {
                                color: #575757;
                                font-size: 20px;
                                margin:0 0 15px 12px;
                                i {
                                   vertical-align: middle; 
                                   margin: 0 3px 0 0;
                                }
                            }
                            dd {
                                color: #575757;
                                font-size: 16px;
                                line-height: 36px;
                                cursor: pointer;
                                margin-left: 0px;
                                padding-left: 35px;
                                &.active {
                                    background-color: #f6665d;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .date-manage dt i {
                    background: url("../img/flower.png") left no-repeat;
                    display: inline-block;
                    width: 22px;
                    height: 23px;
                    margin-bottom: 2px;
                }
                .info-manage dt i {
                    background: url("../img/info.png") left no-repeat;
                    display: inline-block;
                    width: 22px;
                    height: 24px;
                    margin-bottom: 5px;
                }
                .ddp-manage dt i {
                    background: url("../img/folder.png") left no-repeat;
                    display: inline-block;
                    width: 25px;
                    height: 21px;
                    margin-bottom: 5px;
                }
            }
            .cr-right {
                width: 781px;
                border: 1px solid #d8d8d8;
                background-color: #fff;
                float: right;
                font-size: 14px;
                color:#858585;
                .info-content {
                    min-height: 560px;
                    margin-bottom: 10px;
                }

                // 发布的约会 start
                .published-date {
                    ul {
                        background-color: #d5d5d5;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li {
                            padding: 30px 0;
                            background-color: #fff;
                            margin-bottom: 9px;
                            height: 30px;
                            &.last {
                                margin-bottom: 0;
                            }
                            table {
                                border-collapse:collapse;
                                width: 100%;
                                th {
                                    border-right: 1px dashed #b5b5b5;
                                    font-weight: normal;
                                    height: 18px;
                                    width: 92px;
                                    &.last {
                                        border: none;
                                    }
                                    position: relative;
                                    span {
                                        position: absolute;
                                        bottom: 10px;
                                        left: 10px;
                                    }
                                }
                                td {
                                    border-top: 1px dashed #b5b5b5;
                                    border-right: 1px dashed #b5b5b5;
                                    height: 18px;
                                    &.last {
                                        border-right: none;
                                    }
                                    position: relative;
                                    & > span {
                                        position: absolute;
                                        top: 10px;
                                        left: 10px;
                                        span {
                                            display: inline;
                                        }
                                    }
                                    .view {
                                        color: #fff;
                                        font-size:12px;
                                        text-decoration: none;
                                        background-color: #f6665d;
                                        padding:5px 7px;
                                        i {
                                            background: url("../img/scan-eye.png") 0 0 no-repeat;
                                            display: inline-block;
                                            width: 16px;
                                            height: 10px;
                                            margin:0 3px 2px 0;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // 发布的约会 end


                // 喜欢 start
                .i-like {
                    color: @colorGrey;
                    font-size: 14px;
                    td {
                        padding: 20px;
                        &.has-border {
                            border-right: 1px solid #d8d8d8;
                            border-left: 1px solid #d8d8d8;
                        }
                        .user {
                            .clearfix();
                            .head {
                                float: left;
                                a {
                                    display: block;
                                    img {
                                        .square(100px);
                                    }
                                }
                            }
                            .user-info {
                                float: left;
                                margin-left: 20px;
                                .username {
                                    font-size: 20px;
                                    text-decoration: none;
                                    color: @colorGrey;
                                }
                                span {
                                    margin-bottom: 7px;
                                }
                            }
                            padding-bottom: 20px;
                            border-bottom: 1px dotted #c2c2c2;
                        }
                        .datetime {
                            text-align: center;
                            margin-top: 8px;
                        }
                    }
                }
                // 喜欢 end


                table {
                    span {
                        display: block;
                        &.date, 
                        &.name {
                            padding-left: 20px;
                            min-width: 106px - 20;
                            border-right: 1px dashed #c4c4c4;
                        }
                        &.time {
                            padding-left: 10px;
                            min-width: 95px - 10;
                            border-right: 1px dashed #c4c4c4;
                        }
                        &.shop, 
                        &.gift {
                            padding-left: 10px;
                            min-width: 197px - 10;
                        }
                        &.initiator, 
                        &.sender, 
                        &.receiver {
                            min-width: 295px;
                        }
                        &.age, 
                        &.stature, //身高
                        &.education {
                            min-width: 94px;
                            padding-left: 10px;
                            border-right: 1px dashed #c4c4c4;
                        }
                        &.profession {
                            padding-left: 10px;
                            min-width: 200px;
                        }
                        // &.msg {
                        //     background: url(../img/green-msg.png) 0 0 no-repeat;
                        //     .size(22px; 15px);
                        //     display: block;
                        //     margin-left: 20px;
                        // }
                        &.inviter {
                            // min-width: 130px;
                            min-width: 150px;
                            vertical-align: middle;
                        }
                        &.period {
                            // min-width: 66px;
                            // margin: 2px 0 0 -20px;
                            margin-top: 2px;
                            min-width: 80px;
                            vertical-align: middle;
                        }
                        &.place {
                            // min-width: 262px;
                            min-width: 120px;
                            margin-left: 30px;
                        }
                        &.pay {
                            min-width: 140px;
                        }
                        &.send-time {
                            margin-top: 2px;
                            margin-right: 10px;
                        }
                        &.ddp-date {
                            min-width: 75px;
                            padding-left: 20px;
                            border-right: 1px dashed #c4c4c4;
                        }
                        &.ddp-time {
                            min-width: 84px;
                            border-right: 1px dashed #c4c4c4;
                            text-align: center;
                        }
                        &.ddp-sender {
                            min-width: 470px;
                            padding-left: 10px;
                        }
                    }
                }



                .tabs {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    background-color: #f0f0f0;
                    li {
                        float: left;
                        line-height: 30px;
                        height: 30px;
                        vertical-align: middle;
                        &.last {
                            a {
                                border-right: none;
                            }
                        }
                        a {
                            font-size: 14px;
                            color: #858585;
                            text-decoration: none;
                            padding: 0 10px;
                            border-right: 1px solid #d8d8d8;
                        }
                        &.active {
                            background-color: #fff;
                            a {
                                border-right: none;
                            }
                        }
                    }
                }
                .tab-content {
                    color: #858585;
                    font-size: 14px;
                    .tab-pane {
                        display: none;
                        &.active {
                            display: block;
                        }
                        table {
                            width: 100%;
                            td {
                                vertical-align: middle;
                                height: 73px;
                                border-bottom: 1px solid #d8d8d8;
                                // move span out
                            }
                        }

                    }
                }


                .scan-date {
                    .return-back{
                        .size(781px; 26px);
                        background-color: #d8d8d8;
                        a{
                            color: #fff;
                            font-size: 14px;
                            background: url(../img/back.png) 0 0 no-repeat;
                            .size(55px; 26px);
                            display: block;
                            float: right;
                            text-decoration: none;
                            text-align: center;
                            line-height: 26px;
                        }
                    }
                    .select{
                        text-decoration: none;
                        background-color: #f6665d;
                        border-radius: 3px;
                        padding: 5px 30px;
                        color: #fff;
                        font-size: 12px;
                        margin-right: 30px;
                    }
                }

                .system-notice {
                    table {
                        table-layout: fixed;
                    }
                    th {
                        vertical-align: middle;
                        height: 30px;
                        background-color: #f0f0f0;
                        font-weight: normal;
                        text-align: left;
                        &.title {
                            width: 500px;
                        }
                        span{
                            display: block;
                            &.th-l {
                                margin-left: 60px;
                                margin-right: 20px;
                            }
                        }
                    }
                    tr {
                        &.title {
                            span.notice-content {
                                margin-left: 30px;
                                margin-right: 20px;
                                vertical-align: middle;
                                cursor: pointer;
                                i {
                                    vertical-align: middle;
                                    display: inline-block;
                                    .bg(url("../img/unfold.png"), 24px, 24px);
                                    margin-right: 10px;
                                }
                            }
                            &.opened {
                                td {
                                    border-bottom: 1px dashed #d8d8d8;
                                }
                                span.notice-content i {
                                    .bg(url("../img/fold.png"), 24px, 24px);
                                }
                            }
                        }
                        &.detail {
                            display: none;
                            td {
                                padding-left: 50px;
                            }
                            i {
                                float: left;
                                display: block;
                                .bg(url("../img/dot.png"), 8px, 8px);
                                margin-top: 20px;
                            }
                            p {
                                float: left;
                                width: 699px;
                                font-size: 14px;
                                margin: 14px 0 14px 4px;
                            }
                        }
                    }
                }

                .attended-date {
                    .comment {
                        text-decoration: none;
                        color: #fff;
                        font-size: 12px;
                        background-color: #3fc481;
                        display: block;
                        .size(60px, 26px);
                        text-align: center;
                        vertical-align: middle;
                        line-height: 26px;
                        border-radius: 3px;
                        margin-right: 28px;
                        i {
                            display: inline-block;
                            // .size(16px, 15px);
                            .bg(url("../img/pen.png"), 16px, 15px);
                            vertical-align: middle;
                            margin-right: 4px;
                        }
                    }
                }

                .ddp-manage {
                    .invite{
                        text-decoration: none;
                        color: #fff;
                        font-size: 12px;
                        background-color: #f6665d;
                        display: block;
                        .size(60px, 26px);
                        text-align: center;
                        vertical-align: middle;
                        line-height: 26px;
                        border-radius: 3px;
                        margin-right: 28px;
                        i {
                            display: inline-block;
                            .bg(url("../img/drink.png"), 9px, 14px);
                            vertical-align: middle;
                            margin: 0 4px 2px 0;
                        }  
                    }
                }

                .date-msg .tab-content .tab-pane {
                    table {
                        tr {
                            td {
                                border-bottom: 10px solid #f0f0f0;
                                a {
                                    text-decoration: none;
                                    color: #858585;
                                }
                                span.msg {
                                    background: url(../img/envelope.png) 0 0 no-repeat;
                                    .size(30px; 19px);
                                    display: block;
                                    margin-left: 20px;
                                }
                            }
                            &.unread {
                                // span.msg {
                                //     background: url(../img/envelope.png) 0 0 no-repeat;
                                //     .size(30px; 19px);
                                // }
                            }
                            &.opened {
                                td {
                                    border-bottom: 1px dashed #c9c9c9;
                                    span.msg {
                                        background: url(../img/envelope-opened.png) 0 0 no-repeat;
                                        .size(30px; 31px);
                                    }
                                }
                            }
                            &.detail {
                                display: none;
                                td {
                                    .input-group {
                                        display: inline-block;
                                        label {
                                            font-size: 14px;
                                        }
                                        &.yes-group {
                                            margin-left: 30px;
                                        }
                                        &.no-group {
                                            margin-left: 110px;
                                        }
                                    }
                                    .btn-reply {
                                        display: inline-block;
                                        text-decoration: none;
                                        text-align: center;
                                        .size(80px, 26px);
                                        line-height: 26px;
                                        font-size: 12px;
                                        color: #fff;
                                        background-color: #f6665d;
                                        border-radius: 4px;
                                        margin-left: 60px;
                                    }
                                }
                            }
                        }
                    }
                }


                // .pager {
                //     margin-bottom: 6px;
                //     ul {
                //         margin: 0;
                //         list-style: none;
                //         padding: 0;
                //         text-align: center;
                //         li {
                //             display: inline-block;
                //             margin-right: 4px;
                //             a {
                //                 font-size: 14px;
                //                 color: #fff;
                //                 .bg(url("../img/page.png"), 20px, 20px);
                //                 display: block;
                //                 text-decoration: none;
                //                 line-height: 20px;
                //                 text-align: center;
                //                 vertical-align: top;
                //             }
                //             &.previous {
                //                 a {
                //                     .bg(url("../img/page-previous.png"), 20px, 20px);
                //                 }
                //             }
                //             &.next {
                //                 margin-right: 0;
                //                 a {
                //                     .bg(url("../img/page-next.png"), 20px, 20px);
                //                 }
                //             }
                //             &.current {
                //                 a {
                //                     .bg(url("../img/page-current.png"), 20px, 20px);
                //                     color: #f6665d;
                //                 }
                //             }
                //         }
                //     }
                // }
            }

            &.other {
                .cr-right {

                    // 发布的约会 start
                    .published-date {
                        ul {
                            background-color: #fff;
                            li {
                                margin-bottom: 0;
                                height: auto;
                                border-bottom: 1px solid #d8d8d8;
                                padding: 20px 0 20px 30px;
                                .clearfix();
                                .head {
                                    float: left;
                                    img {
                                        .square(100px);
                                        vertical-align: middle;
                                    }
                                }
                                .detail {
                                    float: left;
                                    margin-left: 40px;
                                    div {
                                        margin-top: 5px;
                                        margin-bottom: 16px;
                                        i {
                                            display: inline-block;
                                            vertical-align: middle;
                                        }
                                        span {
                                            vertical-align: middle;
                                            margin-left: 8px;
                                        }
                                        &.time {
                                            i {
                                                .bg(url("../img/icon-time.png"), 19px, 18px);
                                            }
                                        }
                                        &.place {
                                            i {
                                                .bg(url("../img/icon-place.png"), 19px, 16px);
                                            }
                                        }
                                        &.gender {
                                            margin-bottom: 0;
                                            i {
                                                .bg(url("../img/icon-gender.png"), 21px, 18px);
                                            }
                                        }
                                    }

                                }
                                .enroll {
                                    float: right;
                                    margin: 36px 20px 0 0;
                                    span {
                                        font-size: 14px;
                                        color: #858585;
                                        margin-right: 18px;
                                        strong {
                                            font-weight: normal;
                                            color: #19b000;
                                        }
                                    }
                                    .btn-enroll {
                                        vertical-align: middle;
                                        text-align: center;
                                        display: inline-block;
                                        .size(90px, 26px);
                                        background-color: #f6665d;
                                        font-size: 12px;
                                        line-height: 26px;
                                        color: #fff;
                                        text-decoration: none;
                                        border-radius: 4px;
                                        i {
                                            display: inline-block;
                                            .bg(url("../img/little-cup.png"), 12px, 18px);
                                            vertical-align: middle;
                                            margin-right: 10px;
                                        }
                                        &.disabled {
                                            color: #a4a4a4;
                                            background-color: #f0f0f0;
                                            cursor: not-allowed;
                                        }
                                    }
                                }
                            }
                        }
                    
                    }
                    // 发布的约会 end

                    
                    // 参加的约会 start
                    .attended-date {
                        .tab-content {
                            .tab-pane {
                                ul {
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    .user {


                                        border-bottom: 1px solid @borderColor;
                                        padding: 20px 20px;
                                        background-color: #fff;
                                        .clearfix();
                                        .head {
                                            float: left;
                                            & > a {
                                                display: block;
                                                position: relative;
                                            }
                                            img {
                                                .size(176px, 176px);
                                                vertical-align: middle;
                                            }
                                        }

                                        .profile {
                                            margin-left: 24px;
                                            float: left;
                                            color: @colorGrey;
                                            .basic-info {
                                                font-size: 14px;
                                                margin-top: -4px;
                                                // max-width: 360px;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                vertical-align: bottom;
                                                .nick {
                                                    font-size: 30px;
                                                    vertical-align: bottom;
                                                    text-decoration: none;
                                                    color: @colorGrey;
                                                    margin-right: 12px;
                                                }
                                                span {
                                                    position: relative;
                                                    top: -4px;
                                                    margin-right: 23px;
                                                    &.job {
                                                        margin-right: 0;
                                                    }
                                                }
                                            }
                                            .labels {
                                                margin-top: 7px;
                                                li {
                                                    display: inline-block;
                                                    height: 20px;
                                                    border: 1px solid #ff4e45;
                                                    color: #ff4e45;
                                                    line-height: 20px;
                                                    padding: 0 15px;
                                                    border-radius: 3px;
                                                    margin-right: 6px;
                                                    &:hover {
                                                        color: #fff;
                                                        background-color: #ff4e45;
                                                    }
                                                }
                                            }
                                            .inner-chatter {
                                                margin-top: 8px;
                                                font-size: 14px;
                                                .clearfix();
                                                span {
                                                    float: left;
                                                }
                                                p {
                                                    float: left;
                                                    margin: 0;
                                                    // max-width: 280px;
                                                    max-width: 460px;
                                                    max-height: 38px;
                                                    text-overflow: ellipsis;
                                                    overflow: hidden;
                                                    line-height: 20px;
                                                    white-space: nowrap;
                                                }
                                            }
                                            .ddp {
                                                .size(338px - 16, 79px - 14);
                                                border: 1px solid #d8d8d8;
                                                padding: 7px 8px;
                                                margin-top: 8px;
                                                .time-place {
                                                    border-bottom: 1px dashed #d8d8d8;
                                                    padding-bottom: 7px;
                                                    .time {
                                                        vertical-align: bottom;
                                                    }
                                                    .place {
                                                        vertical-align: bottom;
                                                        margin-left: 34px;
                                                        .text-overflow(116px);
                                                        display: inline-block;
                                                    }
                                                }
                                                .gender-enroll {
                                                    margin-top: 8px;
                                                    .gender {
                                                        font-size: 20px;
                                                    }
                                                    .enroll {
                                                        font-size: 14px;
                                                        margin-left: 25px;
                                                        em {
                                                            font-style: normal;
                                                            color: #f6665d;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .enrolling-now {
                                            float: right;
                                            border-left: 1px solid #d8d8d8;
                                            .size(160px, 226px - 64);
                                            text-align: center;
                                            padding-top: 64px;
                                            a {
                                                display: inline-block;
                                                color: #f6665d;
                                                font-size: 16px;
                                                text-decoration: none;
                                                i {
                                                    display: block;
                                                    .bg(url("../img/cup.png"), 64px, 64px);
                                                    &:hover {
                                                        .bg(url("../img/cup-hover.png"), 64px, 64px);
                                                    }
                                                }
                                                span {
                                                    position: relative;
                                                    top: 5px;
                                                }
                                            }
                                        }







                                    }
                                }
                            }
                        }
                    }
                    // 参加的约会 end

                    // 收到的礼物 start
                    .present {
                        .tab-content {
                            .tab-pane {
                                table {
                                    tr {
                                        td {
                                            position: relative;
                                            text-align: center;
                                            height: 290px;
                                            vertical-align: middle;
                                            border-right: 1px solid #d8d8d8;
                                            &.last {
                                                border-right: none;
                                            }
                                            .score {
                                                .bg(url("../img/score-bg.png"), 70px, 40px);
                                                font-size: 18px;
                                                line-height: 40px;
                                                text-align: center;
                                                color: #fff;
                                                .offset-lt(10px, 0);
                                            }
                                            .gift {
                                                color: #555555;
                                                font-size: 18px;
                                                img {
                                                    
                                                }
                                                span {
                                                    display: block;
                                                    text-align: center;
                                                    position: relative;
                                                    top: 20px;
                                                    &.name {
                                                        padding-left: 0;
                                                        min-width: 0;
                                                        border-right: none;
                                                    }
                                                    &.count {
                                                        top: 26px;
                                                    }
                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // 收到的礼物 end


                    // 收到约会邀请 start
                    .date-msg {
                        .tab-content {
                            .tab-pane {
                                table {
                                    tr {
                                        td {
                                            height: 86px;
                                            span {
                                                &.head {
                                                    margin-left: 34px;
                                                    .square(66px);
                                                    position: relative;
                                                    background-color: #f6665d;
                                                    display: block;
                                                    // border-radius: 50%;
                                                    img {
                                                        .square(62px);
                                                        .offset-lt(2px, 2px);
                                                        vertical-align: middle;
                                                        // border-radius: 50%;
                                                    }
                                                    i {
                                                        display: block;
                                                        .bg(url("../img/user-circle-mask.png"), 66px, 66px);
                                                        .offset-lt(0, 0);
                                                    }
                                                }
                                                &.period {
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // 收到约会邀请 end

                    
                    // 收到的喜欢 招呼 谁对碰了Ta start
                    // same as '.i-like'
                    .user-info-table {
                        color: @colorGrey;
                        font-size: 14px;
                        td {
                            padding: 20px;
                            &.has-border {
                                border-right: 1px solid #d8d8d8;
                                border-left: 1px solid #d8d8d8;
                            }
                            .user {
                                .clearfix();
                                .head {
                                    float: left;
                                    a {
                                        display: block;
                                        img {
                                            .square(100px);
                                        }
                                    }
                                }
                                .user-info {
                                    float: left;
                                    margin-left: 20px;
                                    .username {
                                        font-size: 20px;
                                        text-decoration: none;
                                        color: @colorGrey;
                                    }
                                    span {
                                        margin-bottom: 7px;
                                    }
                                }
                                padding-bottom: 20px;
                                border-bottom: 1px dotted #c2c2c2;
                            }
                            .datetime {
                                text-align: center;
                                margin-top: 8px;
                            }
                        }
                    }
                    // 收到的喜欢 招呼 谁对碰了Ta end


                }
            }
        }
    }
}