@import (reference) "mixins.less";
@import (reference) "variable.less";
@import (reference) "common-mixins.less";

/* overwrite index.less start */
article .info .detail div {
    margin-bottom: 12px;
}
article .info .detail div span.id {
    margin-left: 24px;
}
// article .info .detail div.location .info-integrity {
//     background-color: transparent;
//     width: auto;
//     height: auto;
//     display: inline;
//     padding-left: 0;
//     position: static;
//     line-height: normal;
//     border-radius: 0;
//     color: #fff;
// }

article .info .detail div.location .info-integrity .complete i {
    .bg(url("../img/detail.png"), 19px, 20px);
}

// article .info .detail div.tags {
//     margin-top: 27px;
// }

article .info .detail div.intro {
    color: #fff;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    line-height: normal;
    margin-top: 34px;
    padding-left: 5px;
    position: static;
    font-size: 14px;
    vertical-align: top;
}
article .info .detail div.intro span {
    vertical-align: top;
    color: #fff;
    margin-left: 16px;
    max-width: 460px;
}
article .main .content-left .title {
    font-size: 14px;
    color: #858585;
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
}

article .main .content-left .user-img {
    padding: 3px 0 0 6px;
    .clearfix();
}

article .main .content-left .user-img div {
    margin: 0 0 10px 10px;
}
article .main .content-right .cr-left ul li dl dt {
    margin: 0 0 7px 12px;
}
article .main .content-right .cr-left .trends dt i {
    background: url("../img/flower.png") left no-repeat;
    display: inline-block;
    .size(22px, 23px);
    margin-bottom: 2px;
}

article .main .content-right .cr-left {
    min-height: 438px;
}
/* overwrite index.less start */

