@import (reference) "mixins.less";
@import (reference) "variable.less";


.tag() {
    li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        a {
            display: inline-block;
            text-align: center;
            //background-color: #cc6699;
            background-color: #fff;
            color: #fff;
            text-decoration: none;
            height: 26px;
            border-radius: 13px;
            line-height: 26px;
            padding: 0 14px;
            &.on {
                height: 22px;
                line-height: 22px;
                padding: 0 12px;
                border: 2px solid red;
            }
        }
    }
}


.info-pop {
    .size(1200px, 672px);
    color: #9a9a9a;
    background-color: #f0f0f0;
    position: relative;
    .clearfix();
    // .btn() {
    //     .size(76px, 34px);
    //     background-color: #44a954;
    //     font-size: 16px;
    //     line-height: 34px;
    //     text-align: center;
    //     color: #fff;
    //     border: none;
    //     border-radius: 5px;
    //     float: right;
    // }
    h3 {
        font-size: 24px;
        margin: 0;
        font-weight: normal;
    }
    form {
        margin-top: 33px;
        label {
            font-size: 16px;
            vertical-align: middle;
            width: 70px;
            text-align: right;
            display: inline-block;
        }
        .input-group, 
        .short-input-group {
            margin-bottom: 16px;
        }
        .short-input-group {
            label {
                width: 40px;
            }
        }
        .form-group {
            margin-bottom: 30px;
        }
    }
    .basic-info {
        padding: 27px;
        float: left;
        border-right: 1px solid #d8d8d8;
        padding: 0 27px;
        margin: 27px 0;
    }
    .detail-info {
        .short-input-group {
            label {
                width: 70px;
            }
        }
        float: left;
        padding: 27px 0 6px;
        margin: 0 27px;
        border-bottom: 1px solid #d8d8d8;
    }
    // .exclusive-labels();
    .inner-chatter {
        .offset-br(0, 0);
        .size(720px - 27, 210px-5-27);
        padding: 5px 27px 27px 0;
        form {
            margin-top: 0;
            .input-group {
                margin-bottom: 0;
                label {
                    font-size: 18px;
                    width: auto;
                    vertical-align: top;
                    margin-right: 5px;
                }
                textarea {
                    .size(590px, 120px);
                    border-radius: 4px;
                    resize: none;
                    margin-bottom: 5px;
                    border: 1px solid #c4c4c4;
                }
            }
        }
    }
}

// .exclusive-labels() {
.exclusive-labels {
    float: right;
    width: 464px;
    height: 446px;
    background-color: #fff;
    h3 {
        margin: 27px 0 33px 27px;
    }
    .label-group {
        .clearfix();
        margin-bottom: 20px;
        margin-left: 10px;
        label {
            font-size: 14px;
            float: left;
            margin-right: 10px;
            margin-top: 3px;
        }
        ul {
            float: left;
            margin: 0;
            padding: 0;
            list-style: none;
            width: (70px+10)*4;
            .clearfix();
            .tag();
        }
    }
}
// }

.user-info-pop {
    .btn() {
        .size(76px, 34px);
        background-color: #44a954;
        font-size: 16px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        border: none;
        border-radius: 5px;
        float: right;
    }
    form {
        input, 
        select {
            font-size: 16px;
            width: 320px;
            border-radius: 4px;
            border: 1px solid #c4c4c4;
            line-height: 32px;
            vertical-align: middle;
            outline: none;
            &.invalid {
                border: 1px solid #f6655e;
            }
        }
        input {
            height: 32px;
            width: 320px - 10;
            padding-left: 10px;
        }
        select {
            // height: 32px;
            line-height: 24px;
            padding: 6px 0;
            // height: auto;
        }
        .short-input-group {
            input {
                width: 150px - 10;
            }
            select {
                width: 150px;
            }
        }
        button {
            .btn();
        }
    }
    .exclusive-labels {
        button {
            .btn();
            margin-right: 27px;
        }
    }
    .inner-chatter {
        form {
            .input-group {
                textarea {
                    .size(590px, 120px);
                    border-radius: 4px;
                    resize: none;
                    margin-bottom: 5px;
                    border: 1px solid #c4c4c4;
                }
            }
        }
    }
}

.level-up-pop {
    width: 961px;
    background-color: #fff;
    tr {
        border-bottom: 1px solid #d8d8d8;
        &.last {
            border-bottom: none;
        }
    }
    .level {
        width: 190px;
        background-color: #e5e5e5;
        text-align: center;
        vertical-align: middle;
        .star {
            .bg(url("../img/star.png"), 60px, 80px);
            margin: 0 auto;
        }
        .silver-star {
            .bg(url("../img/silver-star.png"), 71px, 85px);
            margin: 0 auto;
        }
        .gold-star {
            .bg(url("../img/gold-star.png"), 63px, 82px);
            margin: 0 auto;
        }
    }
    .permissions {
        width: 497px;
        background-color: #fcfcfc;
        padding: 23px 0 40px 46px;
        h3 {
            font-weight: bold;
            color: #f6665e;
            font-size: 22px;
            margin: 0;
        }
        ol {
            margin: 0;
            padding: 0;
            list-style: none;
            color: #5f5f5f;
            font-size: 14px;
            li {
                margin-top: 10px;
            }
            .sub-permissions {
                color: #858585;
                padding-left: 21px;
                li {
                    margin-top: 8px;
                }
            }
        }
    }
    .way-to-upgrade {
        width: 274px;
        .way {
            width: 204px;
            margin: 0 auto;
            border: 3px dotted #bfbfbf;
            border-radius: 5px;
            h4 {
                font-weight: bold;
                color: #f6665e;
                font-size: 22px;
                text-align: center;
                margin: -17px auto 0;
                background-color: #fff;
                width: 92px;
            }
            span {
                text-align: center;
                font-size: 18px;
                color: #f6665e;
                margin-top: 10px;
                margin-bottom: 10px;
                display: block;
            }
            a {
                display: block;
                .size(182px, 36px);
                font-size: 18px;
                line-height: 36px;
                text-decoration: none;
                color: #fff;
                text-align: center;
                margin: 0 auto;
                border-radius: 4px;
                margin-bottom: 10px;
            }
            .invite-friend {
                background-color: #3ec381;
            }
            .pay-now {
                background-color: #f6665e;
            }
            &.more-padding {
                span {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .expiration-date {
        text-align: center;
        font-size: 14px;
        color: #858585;
        margin-top: 6px;
    }
}

.other-info-pop {
    form {
        span {
            font-size: 16px;
            line-height: 34px;
            vertical-align: middle;


            height: 34px;
            width: 320px - 10;
            padding-left: 5px;

            display: inline-block;
            // border: 1px solid #000;
        }
        .short-input-group {
            span {
                width: 150px - 10;
            }
        }
    }
    .exclusive-labels {
        .label-group {
            margin-left: 30px;
        }
    }
    // .detail-info {
    //     padding-bottom: 6px;
    // }
    .inner-chatter {
        form {
            .input-group {
                p {
                    font-size: 18px;
                    line-height: 30px;
                    margin: 0;
                    // .size(590px, 120px);
                    margin-bottom: 5px;
                    // border: 1px solid #000;
                }
            }
        }
    }
}

.complete-info-pop {
    // .size(502px - 65 - 65, 642px - 15 - 15);
    width: 502px - 65 - 65;
    min-height: 642px - 15 - 15;
    background-color: #f0f0f0;
    border: 4px solid #f6665d;
    padding: 15px 65px;
    font-size: 16px;
    color: #858585;
    h1 {
        font-size: 24px;
        color: #f6665d;
        font-weight: normal;
        margin: 0;
        text-align: center;
    }
    .upload {
        .size(124px - 20, 124px - 32);
        border: 4px solid #f6665d;
        margin: 22px auto 20px;
        position: relative;
        padding: 32px 10px 0;
        .plus {
            .bg(url("../img/big-plus.png"), 42px, 41px);
            display: block;
            margin: 0 auto;
        }
        .tip {
            color: #858585;
            font-size: 12px;
            text-align: center;
            margin-top: 9px;
        }
        input[type="file"] {
            display: block;
            .square(124px);
            border: none;
            background-color: transparent;
            outline: none;
            opacity: 0;
            filter: alpha(opacity=0);
            .offset-lt(0, 0);
            cursor: pointer;
        }
        img {
            .square(124px);
            .offset-lt(0, 0);
            vertical-align: middle;
        }
    }
    input[type="text"] {
        height: 32px;
        width: 320px - 20;
        border: 1px solid #c4c4c4;
        padding: 0 10px;
        border-radius: 4px;
        line-height: 32px;
        outline: none;
        vertical-align: middle;
    }
    #birthday + i {
        display: inline-block;
        .square(34px);
        background: #c4c4c4 url("../img/calendar-2.png") 50% 50% no-repeat;
        .background-size(22px 23px);
        border-radius: 4px;
        .offset-rt(8px, 0);
        cursor: pointer;
    }
    select {
        width: 320px;
    }
    label {
        margin-right: 7px;
    }
    .input-group {
        margin-bottom: 18px;
        position: relative;
    }
    button {
        border: none;
        background-color: #f6655e;
        font-size: 16px;
        .size(322px, 34px);
        line-height: 34px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        margin-left: 20px;
        margin-left: 43px;
    }
    .tags {
        .clearfix();
        margin-bottom: 8px;
        margin-top: -2px;
        position: relative;
        label {
            float: left;
            margin-right: 10px;
        }
        .btn-add-tag {
            display: block;
            float: left;
            background: #c4c4c4 url("../img/small-plus.png") 50% 50% no-repeat;
            .background-size(29px 29px);
            .square(34px);
            border-radius: 4px;
            margin-left: 5px;
        }

        // .exclusive-labels();
        
        .exclusive-labels {
            float: none;
            .size(438px-23, 364px-6);
            border: 6px solid #c4c4c4;
            .offset-tr(-200px, -473px);
            padding: 6px 0 0 23px;
            h3 {
                margin: 0;
                font-size: 18px;
                font-weight: normal;
            }
            .label-group {
                margin: 24px 0 0 0;
            }
            button {
                .size(76px, 34px);
                background-color: #44a954;
                float: right;
                margin-right: 6px;
                margin-top: 6px;
            }
        }
        .selected {
            float: left;
            border: 1px solid #c4c4c4;
            border-radius: 4px;
            display: block;
            //.size(282px, 74px);
            width: 282px - 20;
            min-height: 74px - 20;
            padding: 10px;
            margin: 0;
            background-color: #fff;
            .tag();
            li a {
                position: relative;
                &.on {
                    border: none;
                    height: 26px;
                    line-height: 26px;
                    padding: 0 14px;
                }
                i {
                    background: url("../img/close.png") 0 0 no-repeat;
                    width: 19px;
                    height: 19px;
                    -webkit-background-size: cover;
                    background-size: cover;
                    position: absolute;
                    right: -7px;
                    top: -7px;
                    cursor: pointer;
                }
            }
        }
    }

    #agree-deal + label {
        margin-left: 43px;
        margin-top: 10px;
    }
    label[for="gender-male"] {
        margin-left: 30px;
    }
    label[for="gender-female"] {
        margin-left: 74px;
    }
}