.animation(@animation) {
    -webkit-animation: @animation;
            animation: @animation;
}

// #animation() {
//     .name(@name) {
//         animation-name: @name;
//     }
// }

.animation-fill-mode(@mode) {
    -webkit-animation-fill-mode: @mode;
            animation-fill-mode: @mode;
}

.transform-origin(@origin) {
    -webkit-transform-origin: @origin;
        -ms-transform-origin: @origin;
            transform-origin: @origin;
}

.transition-timing-function(@function) {
    -webkit-transition-timing-function: @function;
            transition-timing-function: @function;
}

.animation-timing-function(@function) {
    -webkit-animation-timing-function: @function;
            animation-timing-function: @function;
}

.animation-iteration-count(@count) {
    -webkit-animation-iteration-count: @count;
            animation-iteration-count: @count;
}

.animation-delay(@delay) {
    -webkit-animation-delay: @delay;
            animation-delay: @delay;
}

.transition(@transition) {
    transition: @transition;
    -moz-transition: @transition;
    -webkit-transition: @transition;
    -o-transition: @transition;
}

.transform(@transform) {
    -webkit-transform: @transform;
            transform: @transform;
}

.transform-translate3d(@x, @y, @z) {
    .transform(translate3d(@x, @y, @z));
}

.transform-translate(@x, @y) {
    .transform(translate(@x, @y));
}

.transform-translateX(@n) {
    .transform(translateX(@n));
}

.transform-translateY(@n) {
    .transform(translateY(@n));
}

.transform-scale(@x, @y) {
    .transform(scale(@x, @y));
}

.transform-scaleX(@n) {
    .transform(scaleX(@n));
}

.transform-scaleY(@n) {
    .transform(scaleY(@n));
}

.transform-rotate(@angle) {
    .transform(rotate(@angle));
}