@import (reference) "mixins.less";
@import (reference) "variable.less";
@import (reference) "common-mixins.less";


article {
    .main {
        margin-top: 22px;
        background-color: #fff;
        border: 1px solid #d8d8d8;

        .title {
            height: 166px - 53;
            border-bottom: 1px solid #d8d8d8;
            padding-top: 53px;
        }

        .field-set {
            position: relative;
            border-bottom: 1px solid #d8d8d8;
            h2 {
                color: #f6665d;
                font-size: 30px;
                font-weight: normal;
                background-color: #fff;
                .offset-tl(-49px, 46px);
            }
            label {
                font-size: 18px;
                color: #858585;
            }
            &.meal-pal {
                padding: 63px 0 0 54px;
            }
            // input[type="radio"] {
            //     display: none;
            //     vertical-align: middle;
            // }
            // input[type="radio"] + label {
            //     background: url("../img/radio.png") 0 0 no-repeat;
            //     .background-size(27px 26px);
            //     display: inline-block;
            //     height: 26px;
            //     padding-left: 36px;
            //     line-height: 26px;
            //     cursor: pointer;
            //     font-size: 16px;
            //     vertical-align: middle;
            // }
            // input[type="radio"] + label.checked {
            //     background: url("../img/radio-checked.png") 0 0 no-repeat;
            //     .background-size(27px 26px);
            // }
            // input[type="radio"]:checked + label {
            //     background: url("../img/radio-checked.png") 0 0 no-repeat;
            //     .background-size(27px 26px);
            // }
            input[type="text"] {
                height: 32px;
                border: 1px solid #c4c4c4;
                border-radius: 4px;
                line-height: 32px;
            }
            .gender-box {
                .clearfix();
                & > label {
                    float: left;
                    margin-right: 36px;
                    vertical-align: middle;
                    line-height: 26px;
                }
                & > .input-group {
                    float: left;
                    margin-right: 42px;
                }
            }
            .age-constellation {
                margin-top: 32px;
                .clearfix();
                .input-group {
                    float: left;
                    margin-right: 50px;
                    label {
                        margin-right: 3px;
                    }
                    select {
                        width: 202px;
                        // height: 34px;
                        padding: 6px 0;
                        border: 1px solid #c4c4c4;
                        border-radius: 4px;
                    }
                }
            }

            .btn {
                background-color: #44a954;
                color: #fff;
                text-decoration: none;
                display: inline-block;
                height: 34px;
                line-height: 34px;
                font-size: 18px;
                vertical-align: middle;
                padding: 0 20px;
                border-radius: 4px;
            }

            .btn-with-arrow {
                padding-right: 6px;
                padding-left: 14px;
                i {
                    .bg(url("../img/double-right-arrow.png"), 14px, 15px);
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 8px;
                }
            }

            .favor-group, 
            .character-group {
                max-width: 1100px;
                .clearfix();


                & > label {
                    float: left;
                    vertical-align: middle;
                }

                //defined in common-mixins
                .tags-common();

                .tags {
                //     float: left;
                    ul {
                //         margin: 0;
                //         list-style: none;
                //         .clearfix();
                //         li {
                //             float: left;
                //             a {
                //                 text-decoration: none;
                //                 font-size: 16px;
                //                 color: #fff;
                //                 background-color: #cc6699;
                //                 display: inline-block;
                //                 height: 26px;
                //                 line-height: 26px;
                //                 padding: 0 17px;
                //                 border-radius: 13px;
                //             }
                //         }
                        &.selected {
                            li {
                                margin-right: 12px;
                                margin-bottom: 10px;
                //                 a {
                //                     position: relative;
                //                     cursor: default;
                //                 }
                            }
                        }
                        &.unselected {
                            padding: 20px 22px 10px;
                            min-height: 40px;
                            li {
                                margin-bottom: 14px;
                                margin-right: 10px;
                            }
                        }
                    }
                }



                .unselect-box {
                    margin-top: -4px;
                    margin-left: 7px;
                    float: left;
                    vertical-align: middle;
                }
                .selecting-box {
                    float: left;
                    margin-top: -13px;
                    margin-left: 7px;

                //     .clearfix();
                    .tags {
                        width: 500px - 10;
                        border: 1px solid #c4c4c4;
                        padding: 0 5px;
                        border-radius: 4px;
                        ul {
                            &.selected {
                                padding: 0 15px;
                                padding-top: 13px;
                                border-bottom: 1px solid #d7d7d7;
                                min-height: 36px;
                //                 i {
                //                     .bg(url("../img/close.png"), 19px, 19px);
                //                     .offset-tr(-7px, -7px);
                //                     cursor: pointer;
                //                 }
                            }
                        }
                    }
                    .btn {
                        float: left;
                        margin-top: 9px;
                        margin-left: 10px;
                    }
                }
                .selected-box {
                    .clearfix();
                    .tags {
                        margin-left: 28px;
                        max-width: 900px;
                        ul {
                            &.selected {
                                padding: 0;
                            }
                        }
                    }
                    .btn {
                        margin-left: 35px;
                        margin-top: -4px;
                        float: left;
                    }
                }
            }
            .favor-group {
                margin-top: 45px;
            }
            .character-group {
                margin-top: 50px;
                padding-bottom: 70px;
            }

            &.meal-time {
                padding: 74px 0 86px 49px;
                // border-bottom: 1px solid #d8d8d8;
                .clearfix();
                label {
                    vertical-align: middle;
                }
                input[type="text"] {
                    margin-left: 1px;
                    width: 250px - 44;
                    vertical-align: middle;
                    padding: 0 38px 0 6px;
                    cursor: pointer;
                    & + i {
                        vertical-align: middle;
                        display: inline-block;
                        .square(32px);
                        background: #c4c4c4 url("../img/calendar.png") 50% 50% no-repeat;
                        .background-size(20px 21px);
                        border-radius: 2px;
                        position: relative;
                        left: -33px;
                        cursor: pointer;
                    }
                }
                .input-group {
                    float: left;
                }
            }

            &.choose-restaurant {
                padding: 50px 0 52px 40px;
                label {
                    vertical-align: middle;
                    margin-right: 10px;
                }
                a {
                    vertical-align: middle;
                }
            }

            &.bottom {
                border-bottom: none;
                padding: 63px 0 85px;
            }
        }



        .btn-publish-date {
            .size(260px, 60px);
            font-size: 24px;
            background-color: #f6665d;
            border: none;
            color: #fff;
            line-height: 60px;
            text-align: center;
            text-decoration: none;
            display: block;
            border-radius: 4px;
            margin: 0 auto;
        }
    }
}

.colors {
    color: darken(#cc6699, 10%);
    color: darken(#ec6253, 10%);
    color: darken(#666666, 10%);
    color: darken(#998aca, 10%);
    color: darken(#4cb9dd, 10%);
    color: darken(#996666, 10%);
    color: darken(#99cccc, 10%);
    color: darken(#ff9933, 10%);
    color: darken(#449edd, 10%);
    color: darken(#99cc00, 10%);
}