@import (reference) "mixins.less";
@import (reference) "variable.less";

article {
    .main {
        margin-top: 22px;
        border: 1px solid #d8d8d8;
        background-color: #fff;
        padding: 20px 0 29px 20px;
        h1 {
            margin: 0;
            color: #434343;
            font-size: 28px;
            font-weight: normal;
        }
        h2 {
            height: 46px;
            background-color: #fafafa;
            font-size: 22px;
            color: #8a8a8a;
            line-height: 46px;
            padding-left: 13px;
            margin: 0;
            font-weight: normal;
            border: 1px solid #dcdcdc;
        }
        .clearfix();
        .left-content {
            float: left;
            .shop-pic {
                img {
                    vertical-align: middle;
                    width: 560px;
                }
            }
            .map {
                width: 560px;
                margin-top: 30px;
                .content {
                    border: 6px solid #dcdcdc;
                    height: 277px;
                }
            }
        }
        .right-content {
            float: left;
            margin-left: 20px;
            .info {
                color: #858585;
                h1 {
                    margin-top: 7px;
                    margin-left: 15px;
                }
                .price {
                    margin-left: 14px;
                    margin-top: 20px;
                    .vip {
                        font-size: 18px;
                        strong {
                            color: #f6665d;
                            font-size: 30px;
                            font-weight: normal;
                        }
                    }
                    .normal {
                        font-size: 14px;
                        text-decoration: line-through;
                        margin-left: 41px;
                    }
                }
                .contact {
                    font-size: 16px;
                    margin-left: 14px;
                    margin-top: 31px;
                    strong {
                        font-weight: normal;
                        color: #fe8614;
                    }
                    div {
                        margin-bottom: 9px;
                    }
                }
                .dishes {
                    margin-top: 23px;
                    width: 580px;
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        border: 1px solid #dcdcdc;
                        border-top: none;
                        height: 409px - 18;
                        overflow-x: hidden;
                        overflow-y: auto;
                        padding-left: 14px;
                        padding-top: 18px;
                        .clearfix();
                        li {
                            float: left;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            img {
                                vertical-align: middle;
                                .size(247px, 165px);
                            }
                        }
                    }
                }
            }
        }

    }
}