@import (reference) "mixins.less";
@import (reference) "variable.less";
@import (reference) "common-mixins.less";


.main {
    margin-top: 22px;
    .clearfix();
    .left-content {
        // .size(783px, 268px);
        width: 781px;
        border: 1px solid @borderColor;
        float: left;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            .user {
                border-bottom: 1px solid @borderColor;
                padding: 20px 19px;
                background-color: #fff;
                .clearfix();
                .head {
                    float: left;
                    & > a {
                        display: block;
                    }
                    img {
                        .size(176px, 176px);
                        vertical-align: middle;
                    }
                    .operate-panel {
                        margin-top: 10px;
                    //     .size(176px, 40px);
                    //     background-color: #f6665d;
                    //     ul {
                    //         li {
                    //             display: inline-block;
                    //             margin: 6px 6px 0 8px;
                    //             a {
                    //                 display: block;
                    //                 &.like {
                    //                     .bg(url("../img/heart.png"), 26px, 25px);
                    //                     &:hover {
                    //                         .bg(url("../img/heart-hover.png"), 26px, 25px);
                    //                     }
                    //                 }
                    //                 &.gift {
                    //                     .bg(url("../img/gift.png"), 26px, 28px);
                    //                     &:hover {
                    //                         .bg(url("../img/gift-hover.png"), 26px, 28px);
                    //                     }
                    //                 }
                    //                 &.hi {
                    //                     .bg(url("../img/hi.png"), 26px, 26px);
                    //                     &:hover {
                    //                         .bg(url("../img/hi-hover.png"), 26px, 26px);
                    //                     }
                    //                 }
                    //                 &.fork {
                    //                     .bg(url("../img/fork.png"), 24px, 27px);
                    //                     &:hover {
                    //                         .bg(url("../img/fork-hover.png"), 23px, 27px);
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    }
                }

                .profile {
                    margin-left: 24px;
                    float: left;
                    color: @colorGrey;
                    .nick {
                        font-size: 30px;
                        vertical-align: middle;
                        text-decoration: none;
                        color: @colorGrey;
                    }
                    .level {
                        
                        .size(90px, 30px);
                        display: inline-block;
                        font-size: 18px;
                        
                        font-style: normal;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 4px;
                        vertical-align: middle;
                        margin-left: 10px;
                        &.gold-star {
                            color: #74450e;
                            background-color: #ffe780;
                        }
                        &.silver-star {
                            color: #64809c;
                            background-color: #f1f1f1;
                        }
                        &.star {
                            color: #f49b1d;
                            background-color: #f1f1f1;
                        }
                    }
                    .basic-info {
                        font-size: 14px;
                        margin-top: 4px;
                        max-width: 360px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        span {
                            margin-right: 23px;
                            &.job {
                                margin-right: 0;
                            }
                        }
                    }
                    .labels {
                        margin-top: 6px;
                        li {
                            display: inline-block;
                            height: 20px;
                            border: 1px solid #ff4e45;
                            color: #ff4e45;
                            line-height: 20px;
                            padding: 0 14px;
                            border-radius: 3px;
                            margin-right: 4px;
                            &:hover {
                                color: #fff;
                                background-color: #ff4e45;
                            }
                        }
                    }
                    .inner-chatter {
                        margin-top: 8px;
                        font-size: 14px;
                        .clearfix();
                        span {
                            float: left;
                        }
                        p {
                            float: left;
                            margin: 0;
                            max-width: 280px;
                            max-height: 38px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            line-height: 20px;
                        }
                    }
                    .ddp {
                        .size(338px - 16, 79px - 14);
                        border: 1px solid #d8d8d8;
                        padding: 7px 8px;
                        margin-top: 14px;
                        .time-place {
                            border-bottom: 1px dashed #d8d8d8;
                            padding-bottom: 7px;
                            .time {
                                vertical-align: bottom;
                            }
                            .place {
                                vertical-align: bottom;
                                margin-left: 34px;
                                // width: 116px;
                                // text-overflow: ellipsis;
                                // white-space: nowrap;
                                // overflow: hidden;
                                .text-overflow(116px);
                                display: inline-block;
                            }
                        }
                        .gender-enroll {
                            margin-top: 8px;
                            .gender {
                                font-size: 20px;
                            }
                            .enroll {
                                font-size: 14px;
                                margin-left: 25px;
                                em {
                                    font-style: normal;
                                    color: #f6665d;
                                }
                            }
                        }
                    }
                }

                .enrolling-now {
                    float: right;
                    border-left: 1px solid #d8d8d8;
                    .size(160px, 226px - 64);
                    text-align: center;
                    padding-top: 64px;
                    a {
                        display: inline-block;
                        color: #f6665d;
                        font-size: 16px;
                        text-decoration: none;
                        i {
                            display: block;
                            .bg(url("../img/cup.png"), 64px, 64px);
                            &:hover {
                                .bg(url("../img/cup-hover.png"), 64px, 64px);
                            }
                        }
                        span {
                            position: relative;
                            top: 5px;
                        }
                    }
                }
            }

            .loading {
                height: 127px - 50;
                color: #858585;
                font-size: 18px;
                text-align: center;
                padding-top: 50px;
                p {
                    margin: 0;
                }
            }
        }
    }

    .right-content {
        float: right;
        .publish-date {
            .size(406px, 238px);
            border: 1px solid #d8d8d8;
            background-color: #fff;
            h4 {
                .bg(url("../img/invite-ta.png"), 286px, 28px);
                margin: 39px auto 0;
            }
            .btn-box {
                .size(309px - 6, 91px - 6);
                border: 3px dotted #D2D2D2;
                margin: 12px auto 0;
                .btn-publish-date {
                    .size(190px, 46px);
                    background-color: #f6665d;
                    font-size: 24px;
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    line-height: 46px;
                    text-align: center;
                    margin: 0 auto;
                    border-radius: 4px;
                    margin: 18px auto 0;
                    &:hover {
                        background-color: darken(#f6665d, 5%);
                    }
                }
            }
        }

        .active-list {
            width: 408px;
            margin-top: 20px;
            h4 {
                background: url("../img/active-list-title.png") 0  no-repeat;
                .size(408px, 55px);
                margin: 0;
            }
            ul {
                border: 1px solid #f6665d;
                border-top: none;
                margin: 0;
                padding: 0;
                list-style: none;
                .clearfix();
                padding: 19px 0 3px 22px;
                background-color: #fff;
                li {
                    float: left;
                    margin: 0 10px 19px 0;
                    .head {
                        .size(176px, 176px);
                        position: relative;
                        a {
                            display: block;
                            text-decoration: none;
                        }
                        img {
                            .size(176px, 176px);
                            vertical-align: middle;
                        }
                        .name {
                            // .size(176px, 34px);
                            // // color: #000;
                            // background-color: #000;
                            // filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
                            // background-color: rgba(0, 0, 0, .5);
                            // .offset-lb(0, 0);
                            // font-size: 14px;
                            // color: #fff;
                            // text-align: center;
                            // line-height: 34px;
                            .translucent();
                        }
                        // .level {
                        //     display: block;
                        //     .offset-lt(-1px, -1px);
                        //     &.gold-star {
                        //         .bg(url("../img/gold-star-member.png"), 78px, 77px);
                        //     }
                        //     &.silver-star {
                        //         .bg(url("../img/silver-star-member.png"), 78px, 77px);
                        //     }
                        //     &.star {
                        //         .bg(url("../img/star-member.png"), 78px, 77px);
                        //     }
                        // }
                    }
                    .times {
                        .size(176px - 2, 32px - 2);
                        border: 1px solid #d8d8d8;
                        color: #858585;
                        font-size: 14px;
                        text-align: center;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}