article {
    .send-success{
        padding: 90px 0 439px 374px;
        img{
            float: left;
            display: block;
        }
        span{
            display: block;
            font-size: 30px;
            color: #49ac2e;
            font-weight: bold;
            float: left;
            margin: 20px 0 0 33px;
        }
    }
}