@import (reference) "mixins.less";
@import (reference) "variable.less";
@import (reference) "common-mixins.less";


article {
    .main {
        margin-top: 11px;
        .field-set {
            &.way-to-pay {
                padding: 64px 0 78px 48px;
                .way-to-pay-box {
                    .clearfix();
                    .input-group {
                        float: left;
                        margin-right: 96px;
                    }
                }
            }
            &.meal-time {
                padding-bottom: 76px;
            }
            &.choose-restaurant {
                border-bottom: none;
                padding-bottom: 73px;
            }
        }
    }
}