@import (reference) "mixins.less";
@import (reference) "variable.less";

.wrapper {
    header {
        background-color: #f0f0f0;
        .logo {
            padding: 27px 63px 45px 0;
            a {
                .bg(url("../img/logo2.png"), 203px, 85px);
                display: block;
                margin: 0 auto;
            }
        }
    }
    article {
        margin: 0 330px;
        margin-bottom: 120px;
        section {
            .size(992px, 382px);
            border: 4px solid #d8d8d8;
            margin: 0 auto;
            position: relative;
            .left {
                .bg(url("../img/sign-left-bg.png"), 484px, 420px);
                position: relative;
                z-index: 1;
            }
            form {
                border: 4px solid #d8d8d8;
                .offset-tr(-4px, -4px);
                // .offset-tl(-4px, 480px);
                width: 508px;
                background-color: #fff;

                width: 508px - 96px - 86px;
                padding: 22px 86px 0 96px;

                input[type="text"], 
                input[type="password"] {
                    height: 32px;
                    width: 320px - 20;
                    border: 1px solid #c4c4c4;
                    font-size: 12px;
                    padding: 0 10px;
                    border-radius: 4px;
                    line-height: 32px;
                    outline: none;
                    vertical-align: middle;
                }
                button {
                    border: none;
                    background-color: #f6655e;
                    font-size: 16px;
                    .size(322px, 34px);
                    line-height: 34px;
                    text-align: center;
                    color: #fff;
                    border-radius: 4px;
                }
                .short-input {
                    input {
                        width: 162px;
                    }
                }
                .input-group {
                    margin: 0 0 16px 1px;
                    .captcha {
                        display: inline-block;
                        .size(130px, 36px);
                        vertical-align: middle;
                        margin: -3px 0 0 6px;
                        img {
                            .size(130px, 36px);
                            vertical-align: middle;
                        }
                    }
                }
                .welcome {
                    margin: 0 0 19px 0;
                }
                select {
                    font-size: 12px;
                    width: 322px;
                    padding: 7px 0;
                }
                label {
                    color: #858585;
                    font-size: 14px;
                }
            }
        }
    }
}


#signin-form {
    height: 382px - 22px;
    // width: 508px - 96px - 86px;
    // padding: 22px 86px 0 96px;
    .welcome {
        .bg(url("../img/welcome-signin.png"), 96px, 24px);
        // margin: 0 0 19px 0;
    }
    .input-group {
        // margin: 0 0 16px 1px;
        // .captcha {
        //     display: inline-block;
        //     .size(130px, 36px);
        //     vertical-align: middle;
        //     margin: -3px 0 0 6px;
        //     img {
        //         .size(130px, 36px);
        //         vertical-align: middle;
        //     }
        // }
        &.remember-forget {
            margin-top: 30px;
            margin-bottom: 13px;
            a {
                color: #858585;
                font-size: 14px;
                text-decoration: none;
                float: right;
                margin-right: 4px;
                margin-top: 3px;
            }
        }
    }
    .signup-free {
        .offset-rb(-4px, -4px);
        display: block;
        .bg(url("../img/signup-free.png"), 77px, 76px);
    }
}

#signup-form {
    height: 467px - 22px;
    .welcome {
        .bg(url("../img/welcome-signup.png"), 96px, 23px);
        // margin: 0 0 19px 0;
    }
    .to-signin {
        .offset-lt(0px, 0px);
        display: block;
        .bg(url("../img/go-signin.png"), 77px, 76px);
    }
    .agree-deal {
        margin-top: 7px;
    }
    #btn-signup {
        margin-top: 3px;
    }
    .btn-get-captcha {
        border: none;
        background-color: #f6655e;
        font-size: 16px;
        .size(128px, 34px);
        line-height: 34px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        margin-left: 6px;
    }
}

.wrapper article section form input[type="text"].invalid,
.wrapper article section form input[type="password"].invalid, 
.wrapper article section form select.invalid {
    border: 1px solid #f6655e;
}